{% extends "/base/default-page.html" %}
{% block content %}
{% macro get_validate_class(errors) -%}
{%- set class_str = 'input w-full' -%}
{% if errors | count > 0 -%}
{% set class_str = class_str + ' ' + 'input-error' %}
{%- endif %}
{{- class_str -}}
{%- endmacro %}

{% macro get_error_messages(errors) -%}
{{ errors | join(', ') }}
{%- endmacro %}


<div>
  <div>
    <h3 class="text-xl font-semibold">Register</h3>
    {% if errors is not undefined %}
    <div class="alert alert-error my-4">
      <div>
        <span class="font-bold">Errors</span>
          {% for error in errors %}
          <p>{{ error.detail }}</p>
          {% endfor %}
      </div>
    </div>

    {% endif %}
    <form method="post" action="{{request.path}}" class="space-y-1">
      {{ form.csrf_token }}
      <div>
        <div>
          {{ form.username.label(class_='label') }}
          {{ form.username(class_=get_validate_class(form.username.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.username.errors) }}</span>
        </div>
      </div>
      <div>
        <div>
          {{ form.email.label(class_='label') }}
          {{ form.email(class_=get_validate_class(form.email.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.email.errors) }}</span>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.password.label(class_='label') }}
          {{ form.password(class_=get_validate_class(form.password.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.password.errors) }}</span>
        </div>
        <div>
          {{ form.password_conf.label(class_='label') }}
          {{ form.password_conf(class_=get_validate_class(form.password_conf.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.password_conf.errors) }}</span>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.first_name.label(class_='label') }}
          {{ form.first_name(class_=get_validate_class(form.first_name.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.first_name.errors) }}</span>
        </div>
        <div>
          {{ form.last_name.label(class_='label') }}
          {{ form.last_name(class_=get_validate_class(form.last_name.errors)) }}
          <span class="text-error text-sm">{{ get_error_messages(form.last_name.errors) }}</span>
        </div>
      </div>
      <div class="pt-2">
        <div>
          <label class="label cursor-pointer justify-start gap-2">
            {{ form.agree_term(class_='checkbox') }}
            Agree with terms and conditions?
          </label>
          <span class="text-error">{{ get_error_messages(form.agree_term.errors) }}</span>
        </div>
      </div>
      <div>
        <div>
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
