<!DOCTYPE html>
<html lang="en" data-theme="liberation">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title  %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/daisyui/daisyui.css') | add_date_url }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/liberation.css') | add_date_url }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.min.css') | add_date_url }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') | add_date_url }}">
    <script type="module" src="{{ url_for('static', filename='node_modules/cally/dist/cally.js') | add_date_url }}"></script>
    <script src="{{ url_for('static', filename='js/date-picker.js') | add_date_url }}"></script>
    <script src="{{ url_for('static', filename='js/datetime-picker.js') | add_date_url }}"></script>

    {% block default_head %}{% endblock %}
    {% block additional_head %}{% endblock %}
  </head>

  <body class="bg-base-200 text-base-content min-h-screen">
    {% block body %}{% endblock %}
  </body>
  {% block additional_js %}{% endblock %}
  {% include "/base/analytic.html.j2" %}
</html>
