{% macro get_validate_class(errors) -%}
{%- if errors | count > 0 -%}input-error{%- endif -%}
{%- endmacro %}

{% macro get_error_messages(errors) -%}
	{% if errors %}
    <div role="alert" class="alert alert-error my-2">
      <i class="fa-solid fa-circle-exclamation"></i>
      <ul class="list-disc list-inside">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}
