<div class="container mx-auto px-4">
  <footer class="footer sm:footer-horizontal py-8">
    <nav>
      <h6 class="footer-title">Bussaya Project System</h6>
      <img class="w-12" src="{{ url_for('static', filename="images/r202.png") }}" alt="R202">
      <a class="link link-hover" href="https://www.facebook.com/R202CoEPSU">Develop by R202 research lab</a>
      <a class="link link-hover" href="http://coe.psu.ac.th">CoE, Eng, PSU</a>
    </nav>
    <nav>
      <h6 class="footer-title">Connect</h6>
      <img class="w-24" src="{{ url_for('static', filename="images/coe-logo.png") }}" alt="CoE">
      <a class="link link-hover" href="http://coe.psu.ac.th">CoE, Eng, PSU</a>
    </nav>
  </footer>
</div>
