{% import '/base/error-handler.html' as eh %}

{% macro field_class(field, class_='') -%}
{%- if field.type in ['SelectField', 'SelectMultipleField', 'QuerySelectField', 'ModelSelectField', 'ModelSelectMultipleField'] -%}
{%- set base = 'select w-full' -%}
{%- elif field.type == 'TextAreaField' -%}
{%- set base = 'textarea w-full' -%}
{%- elif field.type == 'BooleanField' -%}
{%- set base = 'checkbox' -%}
{%- elif field.type in ['FileField', 'MultipleFileField'] -%}
{%- set base = 'file-input w-full' -%}
{%- else -%}
{%- set base = 'input w-full' -%}
{%- endif -%}
{{- base }}{% if class_ %} {{ class_ }}{% endif %}{% if field.errors %} {{ eh.get_validate_class(field.errors) }}{% endif -%}
{%- endmacro %}

{% macro render_field(field, class_='') -%}
<div class="w-full mb-3">
  {{ field.label(class_='label mb-1') }}
  {{ field(class_=field_class(field, class_)) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_checkbox(field) -%}
<div class="mb-3">
  <label class="label cursor-pointer justify-start gap-2">
    {{ field(class_='checkbox') }}
    <span>{{ field.label.text }}</span>
  </label>
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_fileinput(field) -%}
<div class="w-full mb-3">
  {{ field.label(class_='label mb-1') }}
  {{ field(class_='file-input w-full') }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_select_disabled(field) -%}
<div class="w-full mb-3">
  {{ field.label(class_='label mb-1') }}
  {{ field(class_=field_class(field), disabled=true) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_select(field) -%}
{{ render_field(field) }}
{%- endmacro %}

{% macro render_select_no_search(field) -%}
{{ render_field(field) }}
{%- endmacro %}

{% macro render_multiple_select(field) -%}
{{ render_field(field) }}
{%- endmacro %}

{% macro render_calendar(field, calendar_id='calendar') -%}
<div class="w-full mb-3">
  {{ field.label(class_='label mb-1', for=calendar_id) }}
  {{ field(class_=field_class(field), autocomplete='off', id=calendar_id) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}

{% macro render_timepicker(field, timepicker_id='timepicker') -%}
<div class="w-full mb-3">
  {{ field.label(class_='label mb-1', for=timepicker_id) }}
  {{ field(class_=field_class(field), id=timepicker_id) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}
