
{% macro render_project_material(project) -%}
  {% set r = project.get_resource('report') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Report"><i class="fa-solid fa-file-pdf fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-file-pdf fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('similarity') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Similarity"><i class="fa-solid fa-copy fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-copy fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('poster') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Poster"><i class="fa-solid fa-file-image fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-file-image fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('presentation') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Presentation"><i class="fa-solid fa-file-powerpoint fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-file-powerpoint fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('other') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Other Resorces"><i class="fa-solid fa-box-archive fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-box-archive fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('video') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Video"><i class="fa-solid fa-file-video fa-lg"></i></a>
  {% else %}
    <i class="fa-solid fa-file-video fa-lg opacity-30"></i>
  {% endif %}

  {% set r = project.get_resource('git') %}
  {% if r %}
    <a target="_blank" href="{{ r.link }}" class="tooltip" data-tip="Git Repository"><i class="fa-brands fa-git-alt fa-lg"></i></a>
  {% else %}
    <i class="fa-brands fa-git-alt fa-lg opacity-30"></i>
  {% endif %}
{%- endmacro %}
