
<div class="navbar bg-neutral text-neutral-content shadow-md">
  <div class="container mx-auto px-4 flex items-center">
    <a class="btn btn-ghost normal-case text-lg gap-2" href="{{ url_for('site.index') }}"><img class="h-8" src="{{ url_for('static', filename='images/lotus-full-100px.png') }}" alt=""> {{ config.get('APP_TITLE') }}</a>
    <ul class="menu menu-horizontal px-1">
      <li><a href="{{ url_for('accounts.index') }}"><i class="fa-solid fa-address-book"></i> Account</a></li>
      <li><a href="{{ url_for('dashboard.index') }}"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
      <li><a href="{{ url_for('site.list_lecturers') }}"><i class="fa-solid fa-chalkboard-user"></i> Lecturers</a></li>
      <li><a href="{{ url_for('tags.index') }}"><i class="fa-solid fa-tag"></i> Tags</a></li>
    </ul>
  </div>
</div>
