services:
  mongodb:
    image: mongo
    container_name: bussaya-mongodb
    # ports:
    #     - 27017:27017
    volumes:
      - ../deployment/bussaya/mongodb/data/db:/data/db
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - default
  web:
    build: .
    image: bussaya-image
    container_name: bussaya-web
    volumes:
      # - .:/app
      - ../deployment:/deployment
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 127.0.0.1:9080:8080
    links:
      - mongodb
    networks:
      - default
    restart: always
    command: /venv/bin/gunicorn -w 4 --bind 0.0.0.0:8080 "bussaya.web:create_app()" --capture-output
networks:
  default:
