{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block dashboard_title %}
Meeting Form
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    Form:<a href="{{ url_for('meetings.report', meeting_id=meeting.id) }}">
        {{meeting.name}}</a>
</div>
{% endblock %}

{% block content %}

<table class="ui definition table">
    <tr>
        <td class="two wide">
            Meeting
        </td>
        <td>
            {{ meeting.name }}
        </td>
    </tr>
    <tr>
        <td class="two wide">
            Remaining time:
        </td>
        <td>
            {{ meeting.get_remain_time()[1] }}
        </td>
    </tr>
</table>

{% if projects | length == 0 %}
<div class="ui message warning">
    <div class="header">
        Please, create project before report.
    </div>
    <p>
        <a href="{{ url_for('projects.create') }}" class="ui primary button">Create Project</a>
    </p>
</div>
{% endif %}

<form method="POST" class="ui form" enctype="multipart/form-data">
    <div class="ui segment">
        {{ form.csrf_token }}
        {{ renderer.render_select(form.project) }}
        {{ renderer.render_field(form.title) }}
        {{ renderer.render_field(form.description) }}
        <div class="two fields">
            {{ renderer.render_field(form.meeting_date) }}
        </div>
        <button type="submit" class="ui button primary">{{ 'Edit' if 'edit' in request.path else 'Report' }}</button>
    </div>
</form>

{% endblock content %}