{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('admin.classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <div class="section">Submission: {{ meeting.name }}
    </div>
</div>
{% endblock %}


{% block content %}


<table class="ui definition table">
    <tbody>
        <tr>
            <td class="two wide column">Name</td>
            <td>{{ meeting.name }}</td>
        </tr>
        </tr>
        <tr>
            <td>Started Date</td>
            <td>{{ meeting.started_date }}</td>
        </tr>
        <tr>
            <td>Ended Date</td>
            <td>{{ meeting.ended_date }}</td>
        </tr>
    </tbody>
</table>

<a class="ui very small primary icon button" style="margin-top:0.5em"
    href="{{url_for('meetings.edit', meeting_id=meeting.id, class_id=class_.id)}}">
    <i class="edit icon"></i> Edit
</a>
<a class="ui very small negative icon button" style="margin-top:0.5em">
    <i class="trash icon"></i> Delete
</a>

<h4>Submission: {{meeting.name}}</h4>
<table class="ui celled table">
    <thead>
        <tr>
            <th></th>
            <th>Student IDS</th>
            <th>Title</th>
            <th>Description</th>
            <th>Meeting Date</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody>
        {% for student_work in student_works %}
        <tr>

            <td>
                {{ loop.index }}
            </td>
            <td>
                {{student_work.owner.username}}
            </td>
            <td>
                {{student_work.title}}
            </td>
            <td>
                {{student_work.description}}
            </td>
            <td>
                {{student_work.meeting_date}}
            </td>
            <td
                class="{{'green' if student_work.status == 'approved'}} {{'red' if student_work.status == 'disapproved'}}">
                {{student_work.get_status_display() if student_work.status else 'Waiting for approval'}}
            </td>
            <td>
                {{student_work.remark if student_work.remark else '-' }}
            </td>
            <td>
                <a class="ui primary button" href="{{url_for('meetings.approval', meeting_id=meeting.id, student_work_id=student_work.id, 
                action='approved')}}">
                    Approve
                </a>
                <div class="ui accordion">
                    <div class="title">
                        <button class="ui red button">
                            Disapprove
                        </button>
                    </div>
                    <div class="content">
                        <p class="transition hidden">
                        <div class="disapprove remark">
                            <div class="ui segment">
                                <form method="post" class="ui form">
                                    {{renderer.render_field(form.remark)}}
                                    <input type="hidden" name="student_work_id" value="{{student_work.id}}">
                                    <button type="submit" class="ui primary button" style="margin-top: 0.5em">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    function showDisapproveRemark() {
        $(".disapprove.remark").transition('fade down')
            ;
    }
    $(".ui.accordion").accordion()
</script>
{% endblock additional_js%}