{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <div class="section">Submission: {{ meeting.name }}
    </div>
</div>
{% endblock %}


{% block content %}


<table class="ui definition table">
    <tbody>
        <tr>
            <td class="two wide column">Name</td>
            <td>{{ meeting.name }}</td>
        </tr>
        </tr>
        <tr>
            <td>Started Date</td>
            <td>{{ meeting.started_date }}</td>
        </tr>
        <tr>
            <td>Ended Date</td>
            <td>{{ meeting.ended_date }}</td>
        </tr>
    </tbody>
</table>

<h2 class="ui header horizontal divider">{{meeting.name}}</h2>
<table class="ui celled table">
    <thead>
        <tr>
            <th></th>
            <th>Project</th>
            <th>Student</th>
            <th>Title / Description</th>
            <th>Meeting Date</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody>
        {% for meeting_report in meeting_reports %}
        <tr class="top aligned">
            <td>{{ loop.index }}</td>
            <td>{{ meeting_report.project.name }}</td>
            <td class="right aligned collapsing">
              {% if not project %}
                <a target="_blank" href="{{ url_for('accounts.profile', user_id=meeting_report.owner.id) }}">
                    {{ meeting_report.owner.get_fullname() }} ({{meeting_report.owner.username}})
                </a>
              {% else %}

                {% for student in project.students %}
                  <a target="_blank" href="{{ url_for('accounts.profile', user_id=student.id) }}">
                    {{ student.get_fullname() }} ({{ student.username }}) 
                  </a>
                {% endfor %}

              {% endif %}
            </td>
            <td>
              <div><b>{{ meeting_report.title }}</b></div>
              <div>{{ meeting_report.description }}</div>
            </td>
            <td>{{ meeting_report.meeting_date }}</td>
            <td
                class="{{'green' if meeting_report.status == 'approved'}} {{'red' if meeting_report.status == 'disapproved'}}">
                {{meeting_report.get_status_display() if meeting_report.status else 'Waiting for approval'}}
            </td>
            <td>
                {{meeting_report.remark if meeting_report.remark else '-' }}
            </td>
            <td>
                <div>
                    <a class="ui primary button" href="{{ url_for('meetings.approval', meeting_id=meeting.id, meeting_report_id=meeting_report.id, action='approved')}}">
                        Approve
                    </a>
                    <div class="ui accordion" style="width: fit-content; height: fit-content">
                        <div class=" title">
                            <button class="ui red button">
                                Disapprove
                            </button>
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                            <div class="disapprove remark">
                                <div class="ui segment">
                                    <form method="post" class="ui form">
                                        {{renderer.render_field(form.remark)}}
                                        <input type="hidden" name="meeting_report_id" value="{{meeting_report.id}}">
                                        <button type="submit" class="ui primary button" style="margin-top: 0.5em">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    function showDisapproveRemark() {
        $(".disapprove.remark").transition('fade down')
            ;
    }
    $(".ui.accordion").accordion()
</script>
{% endblock additional_js%}
