{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer_project %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}


{% block breadcrumbs %}
<div class="ui breadcrumb">
	<a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
	<div class="divider"> / </div>
	<a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}


{% block content %}

<h1 class="ui horizontal divider header">
	{{ class_.name }}
</h1>

{{ renderer_navbar.render_class_navbar(class_) }}

<h2 class="ui header">Class</h2>
<div class="ui divider"></div>

<table class="ui single line table">
	<tbody>
		<tr>
			<td>
				<div style="color: grey">NAME </div>{{ class_.name }}
			</td>
			<td>
				<div style="color: grey">DESCRIPTION</div> {{ class_.description }}
			</td>
		</tr>
		<tr>
			<td>
				<div style="color: grey">OWNER </div>{{ class_.owner.first_name }} {{ class_.owner.last_name }}
			</td>
			<td>
				<div style="color: grey">CODE </div>{{ class_.code }}
			</td>
		</tr>
		<tr>
			<td>
				<div style="color: grey">TYPE</div> {{ class_.get_type_display() }}
			</td>
			<td>
				<div style="color: grey">TAG</div> {{ class_.tags | join(', ') }}
			</td>
		</tr>
		<tr>
			<td>
				<div style="color: grey">STARTED DATE</div> {{ class_.started_date }}
			</td>
			<td>
				<div style="color: grey">ENDED DATE</div> {{ class_.ended_date }}
			</td>
		</tr>
	</tbody>
</table>

<div class="ui segment">
	<h2 class="ui header">Projects</h2>
	{{ renderer_project.render_project_table(projects) }}
</div>

<div class="ui segment">
	<h2 class="ui header">Submissions</h2>
	<table class="ui selectable celled table unstackable">
		<thead>
			<tr>
				<th>Type</th>
				<th>Description</th>
				<th>Started Date</th>
				<th>Ended Date</th>
				<th>Edit / Delete</th>
			</tr>
		</thead>

		<body>
			{% for submission in submissions %}
			<tr>
				<td>
					<a href="{{ url_for('submissions.view', submission_id=submission.id, class_id=class_.id)}}">
						{{ submission.get_type_display() }}
					</a>
				</td>
				<td>
					{{ submission.description}}
				</td>
				<td>
					{{ submission.started_date }}
				</td>
				<td>
					{{ submission.ended_date }}
				</td>
				<td>
					<a class="ui primary icon button"
						href="{{ url_for('submissions.edit', submission_id=submission.id, class_id=class_.id) }}">
						<i class="edit icon"></i>
					</a>
					<a class="ui red icon button"
						href="{{ url_for('submissions.delete', submission_id=submission.id, class_id=class_.id) }}">
						<i class="trash icon"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</body>
	</table>

	<a class="ui primary button" href="{{ url_for('submissions.add', class_id=class_.id) }}">
		Add Submission
	</a>
</div>

<div class="ui modal delete class">
	<i class="close icon"></i>
	<div class="header">
		Delete {{class_.name}} class
	</div>
	<div class="image content">
		<div class="description">
			<div class="ui small header">Are you sure you want to delete {{class_.name}} class?</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui black deny button">
			No
		</div>
		<a class="ui very small red icon button" style="margin-top:0.5em"
			href="{{ url_for('admin.classes.delete', class_id=class_.id) }}">
			<i class="trash icon"></i> Delete Class
		</a>
	</div>
</div>

{% endblock %}

{% block additional_js %}
<script>
	function showDelete() {
		$('.ui.modal.delete.class')
			.modal('show')
			;
	}
</script>
{% endblock additional_js %}