{% extends '/base/default-dashboard.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}


{% block dashboard_title %}
Meeting Form
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('dashboard.index') }}">Classes</a></li>
<li><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li>Form:<a href="{{ url_for('meetings.report', meeting_id=meeting.id) }}">
        {{meeting.name}}</a></li>
{% endblock %}

{% block content %}

<div class="overflow-x-auto">
    <table class="table table-zebra">
        <tr>
            <th class="font-medium">
                Meeting
            </th>
            <td>
                {{ meeting.name }}
            </td>
        </tr>
        <tr>
            <th class="font-medium">
                Remaining time:
            </th>
            <td>
                {{ meeting.get_remain_time()[1] }}
            </td>
        </tr>
    </table>
</div>
{% if projects | length == 0 %}
<div class="alert alert-warning">
    <div>
        <div class="font-bold">
            Please, create project before report.
        </div>
        <p>
            <a href="{{ url_for('projects.create') }}" class="btn btn-primary">Create Project</a>
        </p>
    </div>
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <div class="card bg-base-100 shadow my-4">
        <div class="card-body p-4">
            {{ form.csrf_token }}
            {{ renderer.render_select(form.project) }}
            {{ renderer.render_select(form.advisors) }}
            {{ renderer.render_field(form.title) }}
            {{ renderer.render_field(form.description) }}
            {% if 'late_report' in request.endpoint %}
              {{ renderer.render_field(form.late_reason) }}
            {% endif %}
            <div>
                {{ renderer.render_date_picker(form.meeting_date, "meeting_date_calendar") }}
            </div>

            {{ renderer.render_fileinput(form.uploaded_file) }}
            <div>
              {%- if meeting_report and meeting_report.file %}
                <a href="{{ url_for('meetings.download', meeting_report_id=meeting_report.id, filename=meeting_report.file.filename) }}">{{ meeting_report.file.filename }}</a>
              {%- endif %}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'Edit' if 'edit' in request.path else 'Report' }}</button>
        </div>
    </div>
</form>

{% endblock content %}


{% block additional_js %}
{% endblock %}
