{% extends '/base/default-dashboard.html' %}
{% import '/base/project-material-renderer.html' as pm_renderer %}

{% block content %}
{#
<div class="ui segment middle algined" style="min-height: 80vh; padding-top: 10vh">
  <div class="ui icon header center aligned">
    <i class="icon university end"></i>
    <h3>Hello, {{ current_user.first_name }} {{ current_user.last_name }} </p>
    <div>
      <a class="ui primary button" href="{{ url_for('classes.index') }}">Class</a>
      <a class="ui primary button" href="{{ url_for('votings.index') }}">View Vote</a>
      <a class="ui primary button" href="{{ url_for('elections.index') }}">Manage Election</a>
    </div>
  </div>
</div>
#}

<h4>Class: {{ class_.name }}</h4>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Students</th>
      <th>Advisor</th>
      <th>Public</th>
      <th>Document</th>
      <th>Approve</th>
    </tr>
  </thead>
  <tbody>

    {% for project in projects %}
    <tr>
      <td>{{ project.name }}</td>
      <td>
        {%- for s in project.students %}
        <a target="_blank" href="{{ url_for('accounts.profile', user_id=s.id) }}">
          {{ s.first_name }} {{ s.last_name }}
        </a>
        {% if not loop.last %}, {% endif %}
        {% endfor -%}
      </td>
      <td>{{ project.advisor.first_name }} {{ project.advisor.last_name }}</td>
      <td>{{ project.public.title() }}</td>
      <td class="single line">
        {{ pm_renderer.render_project_material(project) }}
      </td>
      <td class="single line">
        {% for committee in [project.advisor] + project.committees %}
          {{ committee.first_name }}
          {% if project.is_approval(committee) %}
            <i class="large blue check icon"></i>
          {% else %}
            <i class="large check icon disabled"></i>
          {% endif %}
          <br>
        {% endfor %}
      </td>
    </tr>
  	{% endfor %}

  </tbody>
</table>

{% endblock %}
