{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('admin.classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <div class="section">Submission:
        <a href="{{ url_for('submission.view', submission_id=submission.id, class_id=class_.id) }}">{{
            submission.get_type_display() }}
        </a>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="ui info message">
    Submission Information
</div>

<h3 class="ui header">Submission Form: </h3>
<a href="{{url_for('submission.form', submission_id=submission.id, class_id=class_.id)}}">
    Form {{submission.get_type_display()}}
</a>


<h4>Submission: {{submission.get_type_display()}}</h4>
<table class="ui celled table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Student Name</th>
            <th>File</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>

        {% for student_work in student_works %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student_work.owner.first_name + " " + student_work.owner.last_name }}</td>
            <td>{{ student_work.file }}</td>
            <td>{{ student_work.remark }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}>