{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('admin.classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <div class="section">Submission:
        <a href="{{ url_for('submissions.view', submission_id=submission.id, class_id=class_.id) }}">{{
            submission.get_type_display() }}
        </a>
    </div>
</div>
{% endblock %}


{% block content %}


<table class="ui definition table">
    <tbody>
        <tr>
            <td class="two wide column">Type</td>
            <td>{{ submission.get_type_display() }}</td>
        </tr>
        <tr>
            <td>Remark</td>
            <td>{{ submission.remark }}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>Started Date</td>
            <td>{{ submission.started_date }}</td>
        </tr>
        <tr>
            <td>Ended Date</td>
            <td>{{ submission.ended_date }}</td>
        </tr>
    </tbody>
</table>

<a class="ui very small primary icon button" style="margin-top:0.5em"
    href="{{ url_for('submissions.edit', submission_id=submission.id, class_id=class_.id) }}">
    <i class="edit icon"></i> Edit
</a>
<a class="ui very small negative icon button" style="margin-top:0.5em"
    href="{{ url_for('submissions.delete', submission_id=submission.id, class_id=class_.id) }}">
    <i class="trash icon"></i> Delete
</a>

<h4>Submission: {{submission.get_type_display()}}</h4>
<table class="ui celled table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Student Name</th>
            <th>File</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>

        {% for student_work in student_works %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student_work.owner.first_name + " " + student_work.owner.last_name }}</td>
            <td><a
                    href="{{ url_for('submissions.download', student_work_id=student_work.id, filename=student_work.file.filename) }}">
                    {{student_work.file.filename}}
                </a>
            </td>
            <td>{{ student_work.remark }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}>