{% extends '/admin/organizations/view.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block dashboard_title %}
	{% if 'edit' not in request.path %}
    Create
  {% else %}
		Edit
	{% endif %}
	Mentor
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if 'edit' in request.path %}
    <li>Edit Mentor</li>
  {% else %}
    <li>Create Mentor</li>
  {% endif %}
{% endblock %}


{% block content %}
  <h2 class="text-2xl font-bold">
    {% if mentor %}
      Edit Mentor
    {% else %}
      Create Mentor
    {% endif %}
  </h2>
  <div class="divider"></div>

  <div class="card bg-base-100 shadow my-4">
    <div class="card-body">
    <form method="POST">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.position) }}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
      {{ renderer.render_field(form.phone) }}
      {{ renderer.render_field(form.email) }}
      </div>
      {{ renderer.render_field(form.remark) }}

      <button name="create" type="submit" class="btn btn-primary">
        {{ 'Create' if 'create' in request.path else 'Edit'}}
      </button>
    </form>
    </div>
  </div>

{% endblock %}

{% block additional_js %}
{% endblock additional_js %}
