{% extends '/admin/organizations/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block dashboard_title %}
	{% if 'admin.organizations.create' == request.endpoint %}
		Create
	{% elif 'admin.organizations.edit' == request.endpoint %}
		Edit
	{% elif 'admin.organizations.copy' == request.endpoint %}
		Copy
	{% endif %}
	Organization
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}

	<li>
    {% if 'edit' == request.path %}
      Edit
    {% else %}
      Create
    {% endif %}
    Organization
  </li>
{% endblock %}


{% block content %}
  <h2 class="text-2xl font-bold">
    {% if organization %}
      Edit Organization
    {% else %}
      Create Organization
    {% endif %}
  </h2>
  <div class="divider"></div>

  <div class="card bg-base-100 shadow my-4">
    <div class="card-body">
    <form method="POST">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.website) }}
      {{ renderer.render_field(form.address) }}
      {{ renderer.render_field(form.remark) }}

      <button name="create" type="submit" class="btn btn-primary">
        {{ 'Create' if 'create' in request.path else 'Edit'}}
      </button>
    </form>
    </div>
  </div>

{% endblock %}

{% block additional_js %}
{% endblock additional_js %}
