{% extends '/admin/organizations/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
  {{ super() }}
  {% if request.endpoint != 'admin.organizations.view' %}
    <li><a href="{{ url_for('admin.organizations.view', organization_id=organization.id) }}">{{ organization.name }}</a></li>
  {% else %}
    <li>{{ organization.name }}</li>
  {% endif %}
{% endblock %}


{% block content %}

<h2 class="text-2xl font-bold">
  {{ organization.name }}
</h2>
<div class="divider"></div>

<div class="overflow-x-auto">
<table class="table">
	<tbody>
		<tr>
			<td>
				<div class="opacity-60">Name</div>{{ organization.name }}
			</td>
			<td>
				<div class="opacity-60">Web Site</div> {{ organization.website }}
			</td>
		</tr>
		<tr>
			<td>
				<div class="opacity-60">Creator </div>{{ organization.creator.get_fullname() }}
      </td>
			<td>
				<div class="opacity-60">Last Updated By </div>{{ organization.last_updated_by.get_fullname() }}
			</td>
		</tr>
		<tr>
			<td>
				<div class="opacity-60">Created Date</div> {{ organization.created_date }}
      </td>
			<td>
				<div class="opacity-60">Updated Date</div> {{ organization.updated_date }}
			</td>

    </tr>
    <tr>
      <td colspan="2">
        {{ organization.remark }}
      </td>
    </tr>
	</tbody>
</table>
</div>


<div>
  <h3 class="text-xl font-semibold">Mentor</h3>
  <div>
    <a class="btn btn-primary" href="{{ url_for('admin.organizations.add_or_edit_mentor', organization_id=organization.id) }}"><i class="fa-solid fa-plus"></i> เพิ่ม</a>
  </div>
  <div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ชื่อ</th>
        <th>ตำแหน่ง</th>
        <th>ติดต่อ</th>
        <th>หมายเหตุ</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for mentor in organization.get_mentors() %}
        <tr>
          <td>{{ mentor.name }}</td>
          <td>{{ mentor.position }}</td>
          <td>
            <div>โทร: {{ mentor.phone }}</div>
            <div>email: {{ mentor.email }}</div>
          </td>
          <td>{{ mentor.remark }}</td>
          <td>
            <a href="{{ url_for('admin.organizations.add_or_edit_mentor', organization_id=organization.id, mentor_id=mentor.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}

{% block additional_js %}
{% endblock additional_js %}
