{% extends '/base/default-dashboard.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}
{% import '/navbar/class-navbar.html.j2' as renderer_navbar %}

{% block dashboard_title %}
{{ 'Edit' if 'edit' in request.path else 'Set' }} Final Submission
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li>{{ 'Edit' if 'edit' in request.path else 'Set' }} Final Submission</li>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<div class="divider text-xl font-semibold">
    {{ 'Edit' if 'edit' in request.path else 'Set' }} Final Submission {{ class_.name }}
</div>
<div class="row">
    <form method="POST" class="space-y-1">
        <div class="card bg-base-100 shadow my-4">
            <div class="card-body">
                {{ form.csrf_token }}
                {{ renderer.render_datetime_picker(form.started_date, picker_id="rangestart") }}
                {{ renderer.render_datetime_picker(form.ended_date, picker_id="rangeend") }}
                {{ renderer.render_datetime_picker(form.extended_date, picker_id="rangeextend") }}
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fa-solid fa-clock"></i>
                    {{ 'Edit' if 'edit' in request.path else 'Set' }} Final Submission
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    (function () {
        var start = document.getElementById('rangestart');
        var end = document.getElementById('rangeend');
        var extend = document.getElementById('rangeextend');
        function sync() {
            if (start.value) end.min = start.value;
            if (end.value) {
                start.max = end.value;
                extend.min = end.value;
            }
            if (extend.value) end.max = extend.value;
        }
        start.addEventListener('change', sync);
        end.addEventListener('change', sync);
        extend.addEventListener('change', sync);
        sync();
    })();
</script>
{% endblock %}