{% macro render_class_navbar(class_) %}
<div class="ui big compact menu" style="margin: auto">
  <a class="active item" href="{{ url_for('admin.classes.view', class_id=class_.id )}}">
    <i class="chalkboard icon"></i>
    Class
  </a>
  <a class="item" href="{{ url_for('classes.view_students', class_id=class_.id) }}">
    <i class="users icon"></i>
    View Students
  </a>
  <div class="item ui floating labeled dropdown">
    <i class="star icon"></i>
    <span class="text">Grading</span>
    <div class="menu">
      <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='midterm') }}">
        Midterm
      </a>
      <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='final') }}">
        Final
      </a>
    </div>
  </div>
  <div class="item ui floating labeled dropdown">
    <i class="setting icon"></i>
    <span class="text">Settings</span>
    <div class="menu">
      <a class="item" href="{{ url_for('admin.groups.manage', class_id=class_.id) }}">
        Manage Group
      </a>
      <a class="item" href="{{ url_for('admin.classes.edit', class_id=class_.id) }}">
        Edit Class
      </a>
      <a class="item" onclick="showDelete()">
        Delete Class
      </a>
    </div>
  </div>
</div>
{% endmacro %}