{% macro render_class_navbar(class_) %}
<div class="ui big compact menu" style="margin: auto">
  <a class="{{'active' if 'home' in request.path}} item" href="{{ url_for('admin.classes.view', class_id=class_.id )}}">
    <i class="chalkboard icon"></i>
    Class
  </a>
  <a class="item" href="{{ url_for('classes.view_students', class_id=class_.id) }}">
    <i class="student icon"></i>
    View Students
  </a>
  <div class="item ui floating labeled dropdown">
    <i class="star icon"></i>
    <span class="text">
      {{'Midterm' if 'midterm' in request.path}}
      {{'Final' if 'final' in request.path}}
      {{'Grading' if 'midterm' not in request.path and 'final' not in request.path}}
    </span>
    <div class="menu">
      <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='midterm') }}">
        Midterm
      </a>
      <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='final') }}">
        Final
      </a>
    </div>
  </div>
  <a class="{{'active' if 'groups' in request.path}} item"
    href="{{ url_for('admin.groups.manage', class_id=class_.id) }}">
    <i class="group icon"></i>
    Manage Group
  </a>
  <a class="{{'active' if 'edit' in request.path and 'classes' in request.path}} item"
    href="{{ url_for('admin.classes.edit', class_id=class_.id) }}">
    <i class="edit icon"></i>
    Edit Class
  </a>
  <a class="item" onclick="showDelete()">
    <i class="trash icon"></i>
    Delete Class
  </a>
</div>

<div class="ui modal delete class">
  <i class="close icon"></i>
  <div class="header">
    Delete Class
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui small header">Are you sure you want to delete <span class="ui blue text">{{class_.name}}</span>
        class?</div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      No
    </div>
    <a class="ui very small red icon button" style="margin-top:0.5em"
      href="{{ url_for('admin.classes.delete', class_id=class_.id) }}">
      <i class="trash icon"></i> Delete
    </a>
  </div>
</div>

{% block additional_js %}
<script>
  function showDelete() {
    $('.ui.modal.delete.class')
      .modal('show')
      ;
  }
</script>
{% endblock additional_js %}

{% endmacro %}