{% extends '/base/default-dashboard.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block content %}
<div class="card bg-base-100 shadow my-4 min-h-[80vh]">
  <div class="card-body">
  <div class="text-center">
    <i class="fa-solid fa-snowflake fa-2x"></i>
    {% if election %}
      <h1 class="text-3xl font-bold">Edit election for class: {{ election.class_.name }}</h1>
    {% else %}
      <h1 class="text-3xl font-bold">Create Election</h1>
    {% endif %}
  </div>
  <div class="pt-5">

  <form method="POST" class="space-y-4">
      <div>
          {{ form.class_.label }}
          {{ form.class_(class_='select w-full') }}
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ renderer.render_datetime_picker(form.started_date, 'started_date') }}
        {{ renderer.render_datetime_picker(form.ended_date, 'ended_date') }}
      </div>

      <div>
        {{ form.csrf_token }}
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>

  </div>
  </div>
</div>

{% endblock %}
