{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="card bg-base-100 shadow my-4 min-h-[80vh]">
  <div class="card-body">
  <div class="text-center">
    <i class="fa-solid fa-snowflake fa-2x"></i>
    <h1 class="text-3xl font-bold">Elections</h1>
  </div>
  <div class="pt-5">
    <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead class="text-center">
        <th>Class</th>
        <th>Start</th>
        <th>End</th>
        <th>Operations</th>
      </thead>
      <tbody>
        {% for election in elections %}
        <tr>
          <td>{{ election.class_.name }}</td>
          <td>{{ election.started_date }}</td>
          <td>{{ election.ended_date }}</td>
          <td>
            <a href="{{ url_for('elections.edit', election_id=election.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{{ url_for('elections.generate_qrcode', election_id=election.id) }}"><i
                class="fa-solid fa-qrcode"></i></a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  <p></p>
  <div>
    <a class="btn btn-primary" href="{{ url_for('elections.create') }}">Create</a>
  </div>
  </div>
</div>

{% endblock %}
