{% macro render_admin_grade_menu_toolbars(round_grade) %}
<h2 class="text-2xl font-bold">
    {{ 'Total' if 'total' in request.path }}
    {{ 'View' if 'total' not in request.path and 'view' in request.path }}
    {{ 'Grading' if 'grading' in request.path}}
    {{ round_grade.get_type_display() }} Grade
</h2>



<div class="divider"></div>

<div class="flex flex-wrap gap-2 items-start">
    {% if round_grade.is_in_time() %}
    <a class="btn btn-success"
        href="{{ url_for('admin.round_grades.grading', round_grade_id=round_grade.id) }}">
        <i class="fa-solid fa-pen-to-square"></i>
        Grading
    </a>
    {% else %}
    <a class="btn tooltip" data-tip="Out of time"
        href="{{ url_for('admin.round_grades.view', class_id=round_grade.class_.id, round_grade_type=round_grade.type) }}">
        <i class="fa-solid fa-pen-to-square"></i>
        Grading
    </a>
    {% endif %}
    <a class="btn btn-primary"
        href="{{ url_for('admin.round_grades.view_total', class_id=round_grade.class_.id, round_grade_type=round_grade.type) }}">
        <i class="fa-solid fa-image-portrait"></i>
        View Total Grade
    </a>
    <a class="btn btn-primary"
        href="{{ url_for('admin.round_grades.view_grade_summary', class_id=round_grade.class_.id, round_grade_type=round_grade.type) }}">
        <i class="fa-solid fa-image-portrait"></i>
        Veiw Grade Summary
    </a>
    <a class="btn btn-primary"
        href="{{ url_for('admin.round_grades.view_advisor_grade', class_id=round_grade.class_.id, round_grade_type=round_grade.type) }}">
        <i class="fa-solid fa-image-portrait"></i>
        View Lecturer Grade
    </a>
    <a class="btn btn-primary"
        href="{{ url_for('exports.export_round_students', class_id=round_grade.class_.id, round_grade_id=round_grade.id) }}">
        <i class="fa-solid fa-file-export"></i>
        Export Grade
    </a>

    {% if round_grade.class_.type == 'cooperative' %}
    <a class="btn btn-primary"
        href="{{ url_for('admin.round_grades.submit_mentor_grade', class_id=round_grade.class_.id, round_grade_id=round_grade.id) }}">
        <i class="fa-solid fa-font"></i>
        Mentor Grade
    </a>
    {% endif %}

    <a aria-disabled="true" class="btn btn-warning"
        href="{{ url_for('admin.round_grades.set_time', round_grade_id=round_grade.id) }}">
        <i class="fa-solid fa-clock"></i>
        Set Time Off Grading System
    </a>
    <a aria-disabled="true" class="btn btn-accent" onclick="showRelease()">
        <i class="fa-solid fa-share-nodes"></i>
        {{'Release' if round_grade.release_status == 'unreleased' else "Unrelease"}}
        {{ round_grade.get_type_display() }} Grade
    </a>
    <div class="alert alert-info">
        <div>
            <b>Time off date:</b> {{ round_grade.natural_ended_date() }} <br>
            <b>Remaining Time:</b> {{ round_grade.remain_time()[1] }} <br>
            <b>Release Status:</b> {{ round_grade.get_release_status_display() }} <br>
        </div>
    </div>
</div>

<dialog id="release-grade-modal" class="modal">
    <div class="modal-box">
        <h3 class="text-xl font-semibold">
            {{ 'Release' if round_grade.release_status == 'unreleased' else "Unrelease" }}
            {{ round_grade.get_type_display() }} Grade
        </h3>
        <p class="py-4">Are you sure you want to
            <span class="text-info">
                {{ 'Release' if round_grade.release_status == 'unreleased' else "Unrelease" }}
                {{ round_grade.get_type_display() }} Grade
            </span>
            class {{ round_grade.class_.name }} ?
        </p>
        <div class="modal-action">
            <a aria-disabled="true" class="btn btn-accent"
                href="{{ url_for('admin.round_grades.change_release_status', round_grade_id=round_grade.id) }}">
                <i class="fa-solid fa-share-nodes"></i>
                {{ 'Release' if round_grade.release_status == 'unreleased' else "Unrelease" }}
            </a>
            <form method="dialog">
                <button class="btn btn-neutral">
                    No
                </button>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

{% block additional_js %}
<script type="text/javascript">
    function showRelease() {
        document.getElementById('release-grade-modal').showModal();
    }
</script>
{% endblock additional_js %}
{% endmacro %}

{% macro render_admin_approve_menu_toolbars(round_grade) %}
<h2 class="text-2xl font-bold">
    Veiw Approve
    {{ round_grade.get_type_display() }} Report
</h2>
{% endmacro %}
