{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}
{% import '/admin/round_grades/admin-grade-menu-toolbars.html' as render_toolbars %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type=round_grade.type) }}">
        {{ round_grade.get_type_display() }}
    </a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.view_total', class_id=class_.id, round_grade_type=round_grade.type) }}">View
        Approve
        Report</a>
</div>

{% endblock %}


{% block content %}
{{ renderer_navbar.render_class_navbar(class_, current_user) }}

{{ render_toolbars.render_admin_approve_menu_toolbars(round_grade) }}

<div class="ui attached segment">
    <table class="ui celled table">
        <thead>
            <tr class="top aligned">
                <th></th>
                <th>ID</th>
                <th>Student</th>
                <th>Advisor</th>
                <th class="one wide">Submissions</th>
                <th>Approved Report</th>

            </tr>
        </thead>
        <tbody>
            {% for student_grade in student_grades %}
            {% set student = student_grade.student %}
            <tr class="top aligned">
                <td>{{ loop.index }}</td>
                <td>
                    <a target="_blank"
                        href="{{ url_for('accounts.profile', user_id=student.id) }}">
                        {{ student.username }}
                    </a>
                </td>
                <td>
                  <a href="{{ url_for('admin.projects.edit', project_id=student.get_project().id) }}" class="ui circular primary icon button"><i class="code desktop icon"></i></a>
                    <a target="_blank"
                        href="{{ url_for('accounts.profile', user_id=student.id) }}">
                        {{ student.first_name }} {{ student.last_name }}
                    </a>
                </td>
                <td>
                    {% for advisor in student.get_project().advisors%}
                    <a target="_blank" 
                        href="{{ url_for('admin.round_grades.view_advisor_students', round_grade_type=round_grade.type, class_id=class_.id, advisor_id=advisor.id) }}">  
                        {{ advisor.get_fullname() }}
                    </a>
                    {% endfor %}
                </td>

                {% set student_report = student.get_report(class_, round_grade.type) %}
                {% set student_presentation = student.get_presentation(class_, round_grade.type) %}
                <td>
                    {% if student_report %}
                    <a href="{{ url_for('submissions.download', progress_report_id=student_report.id, filename=student_report.file.filename) }}"
                        target="_blank">
                        <i class="large pdf file icon link pop" data-content="Report"></i>
                    </a>
                    {% else %}
                    <i class="grey large pdf file icon disable"></i>
                    {% endif %}
                </td>
                <td>
                    wait kim code
                </td>
               
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    function showRelease() {
        $('.ui.modal.release.round_grade')
            .modal('show')
            ;
    }
    $('.ui.accordion')
        .accordion()
        ;
</script>
<script type="text/javascript">
    function accordion_show_hide(show_hide_id) {
        $(document.getElementById(show_hide_id + " content")).transition('fade down')

        if (document.getElementById(show_hide_id).textContent == "Hide") {
            document.getElementById(show_hide_id).innerHTML = "See More"
        } else {
            document.getElementById(show_hide_id).innerHTML = "Hide"
        }
    }

    function showSetTimeOff() {
        $('.ui.time-off').transition('fade down')
    }
</script>
<script type="text/javascript">
    datetime_formatter = {
        datetime: function (datetime, settings) {
            if (!datetime) return '';
            var day = datetime.getDate();
            var month = datetime.getMonth() + 1;
            var year = datetime.getFullYear();
            var hour = datetime.getHours();
            var minute = datetime.getMinutes();
            return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2) + " " + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2);
        }
    };
    $('#rangestart').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        startCalendar: $('#rangestart')
    });
</script>
<script type="text/javascript">
    $('.icon.link.pop')
        .popup({
            delay: {
                show: 50,
                hide: 70
            }
        });
</script>
{% endblock additional_js %}
