{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}
{% import '/admin/round_grades/admin-grade-menu-toolbars.html' as render_toolbars %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type=round_grade.type) }}">
        {{ round_grade.get_type_display() }}
    </a>
    <div class="divider"> / </div>
    Grading
</div>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

{{ render_toolbars.render_admin_grade_menu_toolbars(round_grade) }}

<form class="ui form" method="POST" id="form-round_grade"
    action="{{ url_for('admin.round_grades.submit_grade', round_grade_id=round_grade.id) }}">
    {{ form.csrf_token }}
    <div class="" style="padding-top: 1em;">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>Student ID / Student Name</th>
		                <th>Advisors</th>
		                <th>Project</th>
                    <th>Meeting Report</th>
                    <th>Submissions</th>
                    <th>Grading</th>
                    <th>Average Grade</th>
                    <th>Final Grade</th>
                    <th>Total Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student_grade in student_grades %}
                {% set student = student_grade.student %}
                <tr class="top aligned">
                  <td>{{ loop.index }}</td>
                  <td>{{ student.username }} <br/>
                    {{ student.first_name }} {{ student.last_name }}<br/>
                    {{ student.first_name_th }} {{ student.last_name_th }}
		              </td>
                    <td>
                      {{ student.get_project().advisors|map(attribute='fullname')|join(', ') }}
                    </td>
                    <td>
                      {{ student_grade.project.name }}<br/>
                      {{ student_grade.project.name_th }}
                    </td>
                    <td>
                        <a target="_blank"
                            href="{{ url_for('classes.list_report_by_user', class_id=class_.id, user_id=student.id) }}">
                            {{ student.get_meeting_reports(class_, round_grade.type, 'approved').count() }} /
                            {{ student.get_meeting_reports(class_, round_grade.type).count() }}
                        </a>
                    </td>
                    {% set student_report = student.get_report(class_.id, round_grade.type) %}
                    {% set student_presentation = student.get_presentation(class_.id, round_grade.type) %}
                    <td>
                        {% if student_report %}
                        <a href="{{ url_for('submissions.download', progress_report_id=student_report.id, filename=student_report.file.filename) }}"
                            target="_blank">
                            <i class="large pdf file icon link pop" data-content="Report"></i>
                        </a>
                        {% else %}
                        <i class="grey large pdf file icon disable"></i>
                        {% endif %}
                        {% if student_presentation %}
                        <a href="{{ url_for('submissions.download', progress_report_id=student_presentation.id, filename=student_presentation.file.filename) }}"
                            target="_blank">
                            <i class="large file powerpoint icon link pop" data-content="Presentation"></i>
                        </a>
                        {% else %}
                        <i class="grey large file powerpoint icon disable"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% set grading = form.gradings[loop.index - 1] %}
                        <div id="{{ grading.id }}" style="width: auto">
                            {{ grading.student_id }}
                            {{ grading.result(class_="ui fluid dropdown") }}
                        </div>
                    </td>
                    <td>{{ student.get_average_grade(student_grade.round_grade) }}</td>
                    {% set actual_grade, caused = student.get_actual_grade(student_grade.round_grade) %}
                    <td>
                      {% if not caused %}
                        {{ actual_grade }}
                      {% else %}
                        <div class="ui accordion">
                            <div class="title">
                                {{ actual_grade }}
                                <i class="blue dropdown icon"></i>
                            </div>
                            <div class="content" style="display: none; width: fit-content">
                                {% for cause in caused %}
                                - {{ cause }}
                                {% if not loop.last %} <br> {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                      {% endif %}
                    </td>
                    <td>
                        <div class="title">
                            <a id="{{ student_grade.id }}" style="cursor: pointer"
                                onclick="accordion_show_hide('{{student_grade.id}}')">
                                See More
                            </a>
                        </div>
                        <div id="{{ student_grade.id }} content" class="content" style="display: none">
                            <p />
                            {% for student_grade in student.get_total_student_grades(round_grade) %}
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    {% if student_grade.get_grader().lecturer.get_picture() %}
                                    <img class="ui avatar image" src="{{ student_grade.grader.lecturer.get_picture() }}">
                                    {% else %}
                                    <i class="user icon"></i>
                                    {% endif %}
                                    <div class="content">
                                      <a class="header">
                                        {% if student_grade.get_grader() %}
                                          {{ student_grade.get_grader().lecturer.get_full_name() }}
                                          {% if student_grade.grader.lecturer in student.get_project().advisors %}
                                            <i class="red star icon"></i>
                                          {% endif %}
                                        {% else %}
                                            Unknow Grader
                                        {% endif %}
                                      </a>
                                      <div class="description">{{ student_grade.get_result_display() }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 5em">
        <button type="submit" style="margin-top: 1em; padding: 0.7em 2.5em 0.7em 2.5em"
            class="ui right floated large primary icon button" id="submit-button">
            <i class="save icon"></i> Save
        </button>
    </div>
</form>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    function accordion_show_hide(show_hide_id) {
        $(document.getElementById(show_hide_id + " content")).transition('fade down')

        if (document.getElementById(show_hide_id).textContent == "Hide") {
            document.getElementById(show_hide_id).innerHTML = "See More"
        } else {
            document.getElementById(show_hide_id).innerHTML = "Hide"
        }
    }
    $('.ui.accordion')
        .accordion()
        ;
    function showSetTimeOff() {
        $('.ui.time-off').transition('fade down')
    }
</script>
<script type="text/javascript">
    $('.icon.link.pop')
        .popup({
            delay: {
                show: 50,
                hide: 70
            }
        });
</script>
{% endblock additional_js %}
