{% extends '/base/default-dashboard.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block dashboard_title %}
{{ 'Edit' if 'edit' in request.path else 'Set Time' }} {{ round_grade.get_type_display() }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li>
    <a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type=round_grade.type) }}">
        {{ round_grade.get_type_display() }}
    </a>
</li>
<li><a href="{{ url_for('admin.round_grades.set_time', round_grade_id=round_grade.id) }}">Set Time</a></li>
{% endblock %}


{% block content %}


<div class="divider text-xl font-semibold">
    Set Time
    {{ round_grade.get_type_display() }}
</div>
<div class="row">
    <form method="POST">
        <div class="card bg-base-100 shadow my-4">
          <div class="card-body p-4">
          {{ form.csrf_token }}
            {{ renderer.render_datetime_picker(form.started_date, picker_id="rangestart") }}
            {{ renderer.render_datetime_picker(form.ended_date, picker_id="rangeend") }}
            <div>
                <button type="submit" class="btn btn-primary btn-lg" id="submit-button">
                    <i class="fa-solid fa-clock"></i>
                    Set Time
                </button>
            </div>
          </div>
        </div>
    </form>
</div>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    const rangestart = document.getElementById('rangestart');
    const rangeend = document.getElementById('rangeend');
    rangestart.addEventListener('change', () => { rangeend.min = rangestart.value; });
    rangeend.addEventListener('change', () => { rangestart.max = rangeend.value; });
</script>
{% endblock %}
