{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
{{ 'Edit' if 'edit' in request.path else 'Set Time' }} {{ round_grade.get_type_display() }}
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type=round_grade.type) }}">
        {{ round_grade.get_type_display() }}
    </a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.set_time', round_grade_id=round_grade.id) }}">Set Time</a>
</div>
{% endblock %}


{% block content %}


<h3 class="ui header horizontal divider">
    Set Time
    {{ round_grade.get_type_display() }}
</h3>
<div class="row">
    <form method="POST" class="ui form">
        <div class="ui segment">
            {{ form.csrf_token }}
            {{ renderer.render_calendar(form.started_date, calendar_id="rangestart") }}
            {{ renderer.render_calendar(form.ended_date, calendar_id="rangeend") }}
            <button type="submit" class="ui large primary icon button" id="submit-button">
                <i class="clock icon"></i>
                Set Time
            </button>
        </div>
    </form>
</div>
{% endblock %}


{% block additional_js %}
<script src=" {{ url_for('static', filename='node_modules/fomantic-ui-css/components/calendar.js') }}"></script>
<script type="text/javascript">
    datetime_formatter = {
	datetime: 'DD-MM-YYYY HH:mm'
    };
    $('#rangestart').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        startCalendar: $('#rangestart')
    });
</script>
{% endblock %}
