{% extends '/base/default-dashboard.html' %}

{% block content %}
  <div>    
    <h3>Hello, {{ current_user.first_name }} {{ current_user.last_name }} </h3>
  </div>

  <div class="row">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('projects.create') }}">
        <i class="add icon"></i>
        Create Project
      </a>
    </div>
  </div>

  {%- if projects | count > 0 %}
  <div class="ui segment row">
    <h4>Project</h4>
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui middle aligned divided list">
          {% for project in projects %}
            <div class="item" style="padding: 10px; 0; 10px; 0;;">
              <div class="right floated content">
                {% set r = project.get_resource('report') %}
                {% if r %}
                  <a target="_blank" href="{{ r.link }}"><i class="large pdf file icon"></i></a>
                {% else %}
                  <i class="large pdf file icon disabled"></i>
                {% endif %}

                {% set r = project.get_resource('similarity') %}
                {% if r %}
                  <a href="{{ r.link }}"><i class="large copy icon"></i></a>
                {% else %}
                  <i class="large copy icon disabled"></i>
                {% endif %}

                {% set r = project.get_resource('poster') %}
                {% if r %}
                  <a href="{{ r.link }}"><i class="large file image icon"></i></a>
                {% else %}
                  <i class="large file image icon disabled"></i>
                {% endif %}

                {% set r = project.get_resource('presentation') %}
                {% if r %}
                  <a href="{{ r.link }}"><i class="large file powerpoint icon"></i></a>
                {% else %}
                  <i class="large file powerpoint icon disabled"></i>
                {% endif %}

                {% set r = project.get_resource('other') %}
                {% if r %}
                  <a href="{{ r.link }}"><i class="large archive icon"></i></a>
                {% else %}
                  <i class="large archive icon disabled"></i>
                {% endif %}

                {% set r = project.get_resource('git') %}
                {% if r %}
                  <a href="{{ r.link }}"><i class="large git icon"></i></a>
                {% else %}
                  <i class="large git icon disabled"></i>
                {% endif %}

                <a class="ui primary button" href="{{ url_for('projects.upload', project_id=project.id) }}">Upload</a>
                <a class="ui primary button" href="{{ url_for('projects.edit', project_id=project.id) }}">Edit</a>
              </div>
              <i class="laptop large icon avatar"></i>
              <div class="content">
                <div class="header">{{ project.name }}</div>
                <i class="user icon"></i>
                {%- for s in project.students %}
                {{ s.first_name }} {{ s.last_name }}
                {% if not loop.last %}, {% endif %}
                {% endfor -%}
                
                <i class="user tie icon"></i> {{ project.advisor.first_name }} {{ project.advisor.last_name }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {%- endif %}
{% endblock %}
