
{% macro render_project_section(projects, current_user, advisees, committees) -%}
  {%- if advisees | count > 0 or committees | count > 0 %}
  <div class="ui segment row">
  {%- if advisees | count > 0 %}
    <h4>Advisee Project</h4>
    {{ render_project_table(advisees, current_user) }}
  {%- endif %}
  {%- if committees | count > 0 %}
    <h4>Examination Project</h4>
    {{ render_project_table(committees, current_user) }}
  {%- endif %}
  </div>
  {%- endif %}
{% endmacro -%}

{% macro render_project_table(projects, current_user) -%}
<table class="ui compact celled table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Student</th>
      <th>Advisor</th>
      <th>Public</th>
      <th>Document</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.name }}</td>
      <td class="right aligned collapsing">
        {%- for s in project.students %}
        {{ s.first_name }} {{ s.last_name }}
        {% if not loop.last %}<br>{% endif %}
        {% endfor -%}
      </td>
      <td class="right aligned collapsing">{{ project.advisor.first_name }} {{ project.advisor.last_name }}</td>
      <td class="right aligned collapsing">{{ project.public.title() }}</td>
      <td class="right aligned collapsing">
        {% set r = project.get_resource('report') %}
        {% if r %}
          <a target="_blank" href="{{ r.link }}"><i class="large pdf file icon link pop" data-content="Report"></i></a>
        {% else %}
          <i class="large pdf file icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('similarity') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large copy icon link pop" data-content="Similarity"></i></a>
        {% else %}
          <i class="large copy icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('poster') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large file image icon link pop" data-content="Poster"></i></a>
        {% else %}
          <i class="large file image icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('presentation') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large file powerpoint icon link pop" data-content="Presentation"></i></a>
        {% else %}
          <i class="large file powerpoint icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('other') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large archive icon link pop" data-content="Other Resorces"></i></a>
        {% else %}
          <i class="large archive icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('video') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large video file icon link pop" data-content="Video"></i></a>
        {% else %}
          <i class="large video file icon disabled"></i>
        {% endif %}

        {% set r = project.get_resource('git') %}
        {% if r %}
          <a href="{{ r.link }}"><i class="large git icon link pop" data-content="Git Repository"></i></a>
        {% else %}
          <i class="large git icon disabled"></i>
        {% endif %}
      </td>
      <td class="right aligned collapsing">
        {% if project.is_approval(current_user) %}
          <i class="large blue check icon"></i>
          <a class="ui disabled button" href="{{ url_for('projects.approve', project_id=project.id) }}">Approve</a>
        {% else %}
          <i class="large check icon disabled"></i>
          <a class="ui primary button" href="{{ url_for('projects.approve', project_id=project.id) }}">Approve</a>
        {% endif %}

      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  <script type="text/javascript">
  $('.icon.link.pop')
  .popup({
    delay: {
    show: 50,
    hide: 70
    }
  });
  </script>
{%- endmacro %}

