<div class="ui container">
  <div class="ui grid" style="padding: 2em">
    <div class="two column row">
      <div class="column">
        <h5 class="ui header">Bussaya Project Voting System</h5>
        <p>CoE, Eng, PSU</p>
        <p>Quick develop by R202 research lab <br/>
        with a broken air conditioner in summer T__T</p>
      </div>
      <div class="column">
        <h5 class="ui header">Connect</h5>
        <ul>
          <li><a href="http://coe.psu.ac.th">CoE</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
