{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}
{% import '/admin/round_grades/admin-grade-menu-toolbars.html' as render_toolbars %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type=round_grade.type) }}">
        {{ round_grade.get_type_display() }}
    </a>
</div>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

{{ render_toolbars.render_admin_grade_menu_toolbars(round_grade) }}

<div class="ui attached segment">
    <table class="ui celled structured single line table">
        <thead>
            <tr>
                <th></th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Meeting Report</th>
                <th>Submissions</th>
                <th>Given Grade</th>
                <th>Average Grade</th>
                <th>Final Grade</th>
                <th>Total Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student_grade in student_grades %}
            {% set student = student_grade.student %}
            <tr>
                <td>{{ loop.index }}</td>

                <td>{{ student.username }}</td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.get_meeting_reports(class_, round_grade.type).count() }}</td>
                {% set student_report = student.get_report(class_.id, round_grade.type) %}
                {% set student_presentation = student.get_presentation(class_.id, round_grade.type) %}
                <td>
                    {% if student_report %}
                    <a href="{{ url_for('submissions.download', progress_report_id=student_report.id, filename=student_report.file.filename) }}"
                        target="_blank">
                        <i class="large pdf file icon link pop" data-content="Report"></i>
                    </a>
                    {% else %}
                    <i class="grey large pdf file icon disable"></i>
                    {% endif %}
                    {% if student_presentation %}
                    <a href="{{ url_for('submissions.download', progress_report_id=student_presentation.id, filename=student_presentation.file.filename) }}"
                        target="_blank">
                        <i class="large file powerpoint icon link pop" data-content="Presentation"></i>
                    </a>
                    {% else %}
                    <i class="grey large file powerpoint icon disable"></i>
                    {% endif %}
                </td>
                <td>{{ student_grade.get_result_display() }}</td>
                <td>{{ student.get_average_grade(student_grade.round_grade) }}</td>
                {% set final_grade, caused = student.get_final_grade(student_grade.round_grade) %}
                <td>
                    <div class="title">
                        {{ final_grade }}
                        {% if caused %}
                        <a id="{{student_grade.id}} header final" style="cursor: pointer"
                            onclick="accordion_view_final('{{student_grade.id}}')">
                            View
                        </a>
                        {% endif %}
                    </div>
                    <div id="{{student_grade.id}} content final" class="content"
                        style="display: none; width: fit-content">
                        {% for cause in caused %}
                        - {{ cause }}
                        {% if not loop.last %} <br> {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="title">
                        <a id="{{student_grade.id}} header total" style="cursor: pointer"
                            onclick="accordion_view_total('{{student_grade.id}}')">
                            See More
                        </a>
                    </div>
                    <div id="{{student_grade.id}} content total" class="content" style="display: none">
                        <p />
                        {% for student_grade in student.get_total_student_grades(round_grade) %}
                        <div class="ui relaxed divided list">
                            <div class="item">
                                {% if student_grade.lecturer.get_picture() %}
                                <img class="ui avatar image" src="{{ student_grade.lecturer.get_picture() }}">
                                {% else %}
                                <i class="user icon"></i>
                                {% endif %}
                                <div class="content">
                                    <a class="header">
                                        {{ student_grade.lecturer.first_name }}
                                        {{ student_grade.lecturer.last_name }}
                                        {{
                                        '(Advisor)'
                                        if student_grade.lecturer == student.get_project().advisor
                                        }}
                                    </a>
                                    <div class="description">{{ student_grade.get_result_display() }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    function accordion_view_total(view_total_id) {
        $(document.getElementById(view_total_id + " content total")).transition('fade down')

        if (document.getElementById(view_total_id + " header total").textContent == "Hide") {
            document.getElementById(view_total_id + " header total").innerHTML = "See More"
        } else {
            document.getElementById(view_total_id + " header total").innerHTML = "Hide"
        }
    }
    function accordion_view_final(view_final_id) {
        $(document.getElementById(view_final_id + " content final")).transition('fade down')

        if (document.getElementById(view_final_id + " header final").textContent == "Hide") {
            document.getElementById(view_final_id + " header final").innerHTML = "View"
        } else {
            document.getElementById(view_final_id + " header final").innerHTML = "Hide"
        }
    }

    function showSetTimeOff() {
        $('.ui.time-off').transition('fade down')
    }
</script>
<script type="text/javascript">
    datetime_formatter = {
        datetime: function (datetime, settings) {
            if (!datetime) return '';
            var day = datetime.getDate();
            var month = datetime.getMonth() + 1;
            var year = datetime.getFullYear();
            var hour = datetime.getHours();
            var minute = datetime.getMinutes();
            return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2) + " " + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2);
        }
    };
    $('#rangestart').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        startCalendar: $('#rangestart')
    });
</script>
<script type="text/javascript">
    $('.icon.link.pop')
        .popup({
            delay: {
                show: 50,
                hide: 70
            }
        });
</script>
{% endblock additional_js %}