{% extends '/projects/index.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block dashboard_title %}
Upload Project Resource
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<li><a href="{{ url_for('projects.upload', project_id=project.id) }}">Upload</a></li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="card bg-base-100 shadow my-4">
    <div class="card-body">
    <form method="POST" enctype="multipart/form-data" class="space-y-1">
      {{ form.csrf_token }}
      {{ renderer.render_fileinput(form.report) }}
      {{ renderer.render_fileinput(form.presentation) }}
      {{ renderer.render_fileinput(form.poster) }}
      {{ renderer.render_fileinput(form.other) }}
      {{ renderer.render_fileinput(form.similarity) }}
      {{ renderer.render_field(form.video) }}
      {{ renderer.render_field(form.git) }}
      <button name="create" type="submit" class="btn btn-primary">Upload</button>
    </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block additional_js %}
{% endblock additional_js %}