{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<li><a href="{{ url_for('classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li>Submission:
    <a href="{{ url_for('submissions.view', submission_id=submission.id, class_id=class_.id) }}">{{
        submission.get_type_display() }}
    </a>
</li>
{% endblock %}


{% block content %}


<div class="overflow-x-auto">
    <table class="table table-zebra">
        <tbody>
            <tr>
                <th class="font-medium">Type</th>
                <td>{{ submission.get_type_display() }}</td>
            </tr>
            <tr>
                <th class="font-medium">Description</th>
                <td>{{ submission.description }}</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <th class="font-medium">Started Date</th>
                <td>{{ submission.started_date }}</td>
            </tr>
            <tr>
                <th class="font-medium">Ended Date</th>
                <td>{{ submission.ended_date }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% if current_user.has_roles("admin") %}
<a class="btn btn-primary btn-sm mt-2"
    href="{{ url_for('submissions.edit', submission_id=submission.id, class_id=class_.id) }}">
    <i class="fa-solid fa-pen-to-square"></i> Edit
</a>
<a class="btn btn-error btn-sm mt-2"
    href="{{ url_for('submissions.delete', submission_id=submission.id, class_id=class_.id) }}">
    <i class="fa-solid fa-trash"></i> Delete
</a>
{% endif %}

<div class="divider text-2xl font-bold">{{submission.get_type_display()}}</div>
<div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th></th>
                <th>Project</th>
                <th>Student</th>
                <th>File</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            {% set index = namespace(value=1) %}
            {% for progress_report in progress_reports %}

            {% set group = current_user.get_group(class_= class_) %}
            {% set project = progress_report.owner.get_project() %}

            {% if progress_report.owner in group.students %}
            <tr>
                <td>{{index.value}}</td>
                {% set index.value = index.value + 1 %}
                <td>{{project.name}}</td>
                <td class="text-right whitespace-nowrap">
                    {% if not project %}
                    <a target="_blank" href="{{ url_for('accounts.profile', user_id=progress_report.owner.id) }}">
                        {{ progress_report.owner.get_fullname() }} ({{progress_report.owner.username}})
                    </a>
                    {% else %}

                    {% for student in project.students %}
                    <a target="_blank" href="{{ url_for('accounts.profile', user_id=student.id) }}">
                        {{ student.get_fullname() }} ({{ student.username }}) </a>
                    {% if not loop.last %}<br>{% endif %}
                    {% endfor %}

                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('submissions.download', progress_report_id=progress_report.id, filename=progress_report.file.filename) }}"
                        target="_blank">
                        {{progress_report.file.filename}}
                    </a>
                </td>
                <td>{{ progress_report.description }}</td>
            </tr>
            {% endif %}

            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
