{% extends '/base/default-dashboard.html.j2' %}

{% block content %}
<div class="card bg-base-100 shadow my-4 h-[80vh]">
  <div class="card-body items-center justify-center text-center">
    <div class="text-xl font-semibold">
      <i class="fa-solid fa-hourglass-end fa-2x"></i>
      <div>Time Out</div>
    </div>
    <a class="btn btn-primary" href="{{ url_for('dashboard.index') }}">Try Again</a>
  </div>
</div>
{% endblock %}
