{% extends '/base/default-page.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block content %}
  <div class="container mx-auto px-4">
    <div class="card bg-base-100 shadow my-4">
      <div class="card-body">
      {# head #}
      <div class="text-center">
        <h1 class="text-3xl font-bold">
          {{ project.name }}
        </h1>
        <h2 class="text-2xl font-bold">
          {{ project.class_.name }}
        </h2>
        <h3 class="text-xl font-semibold">
          <i class="fa-solid fa-clock"></i> {{ election.started_date.strftime("%Y-%m-%d %H:%M") }} - {{ election.ended_date.strftime("%Y-%m-%d %H:%M") }}
        </h3>
      </div>
      {# end head#}

      {# content #}
      <div class="alert alert-error justify-center">
        <div class="text-xl font-semibold text-center">
          <i class="fa-regular fa-clock fa-2x"></i>
          {{ message }}
        </div>
      </div>
      {# end content #}

      {# user profile #}
      <div>
        <div class="card bg-base-100 shadow my-4">
          <div class="card-body">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div>
              <div class="grid grid-cols-1 gap-4">
                {% for user in project.students %}
                <div class="text-center">
                  <div class="w-32 mx-auto">
                    <img src="{{ user.get_picture() }}">
                  </div>
                  <h5 class="text-lg font-semibold">{{ user.first_name }} {{ user.last_name }}</h5>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="md:col-span-3">
              {{ project.abstract }}
            </div>

          </div>
          </div>
        </div>
      </div>

      {# end user profile #}
      </div>
    </div>
  </div>

{% endblock %}
