{% import '/base/project-material-renderer.html.j2' as pm_renderer %}


{% macro render_project_section(projects, current_user, advisees, committees) -%}
{%- if advisees | count > 0 or committees | count > 0 %}
<div class="card bg-base-100 shadow my-4">
  <div class="card-body p-4">
  {%- if advisees | count > 0 %}
  <h4 class="text-lg font-semibold">Advisee Project</h4>
  {{ render_project_table(advisees, current_user) }}
  {%- endif %}
  {%- if committees | count > 0 %}
  <h4 class="text-lg font-semibold">Examination Project</h4>
  {{ render_project_table(committees, current_user) }}
  {%- endif %}
  </div>
</div>
{%- endif %}
{% endmacro -%}

{% macro render_project_table(projects, current_user=None) -%}
<div class="overflow-x-auto">
<table class="table table-zebra">
  <thead>
    <tr>
      <th></th>
      <th>Project</th>
      <th>Student</th>
      <th>Advisor</th>
      <th>Public</th>
      <th>Document</th>
      {% if current_user.has_roles("admin") %}
      <th>Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ project.name }}</td>
      <td class="text-right whitespace-nowrap">
        {%- for s in project.students %}
        <a target="_blank" href="{{ url_for('accounts.profile', user_id=s.id) }}">
          {{ s.first_name }} {{ s.last_name }} ({{ s.username }})
        </a>
        {% if not loop.last %}<br>{% endif %}
        {% endfor -%}
      </td>
      <td class="text-right whitespace-nowrap">{{ project.advisors|map(attribute='fullname')|join(', ') }}</td>
      <td class="text-right whitespace-nowrap">{{ project.public.title() }}</td>
      <td class="text-right whitespace-nowrap">
        {{ pm_renderer.render_project_material(project) }}
      </td>
      {% if current_user.has_roles("admin") %}
      <td class="text-right whitespace-nowrap">
        <a class="btn btn-error btn-square" href="{{ url_for('admin.projects.delete', project_id=project.id) }}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%- endmacro %}
