{% extends '/admin/classes/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import 'navbar/class-navbar.html' as navbar_renderer %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('admin.groups.index', class_id=class_.id) }}">Group</a></li>
<li>Edit</li>
{% endblock %}


{% block content %}


{{ navbar_renderer.render_class_navbar(class_, current_user) }}

<h2 class="text-2xl font-bold">Edit Groups</h2>
<div class="divider"></div>

<div class="card bg-base-100 shadow my-4">
    <div class="card-body p-4">
        <form method="POST" class="space-y-1">
            <div>
                {{ form.csrf_token }}
                {{ renderer.render_field(form.name) }}
                {{ renderer.render_select(form.committees) }}
            </div>
            <button name="edit" type="submit" class="btn btn-primary btn-sm">
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}
