{% extends '/admin/classes/index.html.j2' %}
{% import '/admin/classes/project-renderer.html.j2' as renderer %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('admin.groups.index', class_id=class_.id) }}">Group</a></li>
{% endblock %}


{% block content %}

<div class="divider text-xl font-bold">
    {{ class_.name }}
</div>

{% endblock %}
