{% extends '/admin/classes/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}
{% import 'navbar/class-navbar.html.j2' as navbar_renderer %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('admin.groups.manage', class_id=class_.id) }}">Group</a></li>
{% endblock %}


{% block content %}


{{ navbar_renderer.render_class_navbar(class_, current_user) }}

<h2 class="text-2xl font-bold">Manage Groups</h2>
<div class="divider"></div>


<div class="collapse collapse-arrow bg-base-100 shadow my-4">
    <input type="checkbox">
    <div class="collapse-title font-semibold">
        <i class="fa-solid fa-plus"></i>
        Create Group
    </div>
    <div class="collapse-content">
        <div class="divider">
            Group Form
        </div>
        <form method="POST" class="space-y-1">
            {{ form.csrf_token }}
            {{ renderer.render_field(form.name) }}
            {{ renderer.render_multiple_select(form.committees) }}
            <button name="create" type="submit" class="btn btn-primary btn-sm">
                Create
            </button>
        </form>
    </div>
</div>

<div class="card bg-base-100 shadow my-4">
    <div class="card-body p-4">
    <a class="btn btn-success"
        href="{{url_for('admin.groups.set_group_student_ids', class_id=class_.id)}}">
        <i class="fa-solid fa-users"></i>
        Auto Set Student IDS from Project Advisor
    </a>
    <div class="alert alert-info">
        This will automatic set the Student IDS in the Group from the Project
        that the lecturer is an Advisor.</div>
    <div class="overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
            <th>No.</th>
            <th>Group Name</th>
            <th>Lecturer</th>
            <th>Student IDS </th>
            <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ group.name }}
                </td>
                <td>
                    {% for lec in group.committees %}
                    {{ lec.get_fullname() }} {% if not loop.last %} <br> {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ get_student_ids(group) }}
                </td>
                <td>
                    <a class="btn btn-primary btn-square"
                        href="{{url_for('admin.groups.edit', group_id=group.id, class_id=class_.id)}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-error btn-square"
                        href="{{url_for('admin.groups.delete', group_id=group.id, class_id=class_.id)}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>


{% endblock %}