{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
{{ 'Edit' if 'edit' in request.path else 'Create' }} Submission
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('admin.classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a class="section" href=" {{ url_for('submissions.create', class_id=class_.id) }}">{{ 'Edit' if 'edit' in
        request.path else 'Create' }} Submission</a>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="ui segment">
        <form method="POST" class="ui form">
            {{ form.csrf_token }}
            {{ renderer.render_select(form.type) }}
            {{ renderer.render_field(form.description) }}
            <div class="three fields">
                <div class="field">
                    {{ renderer.render_calendar(form.started_date, calendar_id="rangestart") }}
                </div>
                <div class="field">
                    {{ renderer.render_calendar(form.ended_date, calendar_id="rangeend") }}
                </div>
                <div class="field">
                    {{ renderer.render_calendar(form.extended_date, calendar_id="rangeextend") }}
                </div>
            </div>
            <button class="ui primary button" type="submit">{{ 'Edit' if 'edit' in request.path else 'Create'
                }}</button>
        </form>
    </div>
</div>
{% endblock %}


{% block additional_js %}
<script src=" {{ url_for('static', filename='node_modules/fomantic-ui-css/components/calendar.js') }}"></script>
<script type="text/javascript">
    datetime_formatter = {
        datetime: function (datetime, settings) {
            if (!datetime) return '';
            var day = datetime.getDate();
            var month = datetime.getMonth() + 1;
            var year = datetime.getFullYear();
            var hour = datetime.getHours();
            var minute = datetime.getMinutes();
            return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2) + " " + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2);
        }
    };
    $('#rangeend').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        startCalendar: $('#rangestart')
    });
    $('#rangestart').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        endCalendar: $('#rangeend')
    });
    $('#rangeextend').calendar({
        // type: 'date',
        formatter: datetime_formatter,
        startCalendar: $('#rangeend')
    });
</script>
{% endblock %}