{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a class="section" href="{{ url_for('classes.index') }}">Classes</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <div class="section">Submission:
        <a href="{{ url_for('submissions.view', submission_id=submission.id, class_id=class_.id) }}">{{
            submission.get_type_display() }}
        </a>
    </div>
</div>
{% endblock %}


{% block content %}


<table class="ui definition table">
    <tbody>
        <tr>
            <td class="two wide column">Type</td>
            <td>{{ submission.get_type_display() }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ submission.description }}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>Started Date</td>
            <td>{{ submission.started_date }}</td>
        </tr>
        <tr>
            <td>Ended Date</td>
            <td>{{ submission.ended_date }}</td>
        </tr>
    </tbody>
</table>

{% if current_user.has_roles("admin") %}
<a class="ui very small primary icon button" style="margin-top:0.5em"
    href="{{ url_for('submissions.edit', submission_id=submission.id, class_id=class_.id) }}">
    <i class="edit icon"></i> Edit
</a>
<a class="ui very small negative icon button" style="margin-top:0.5em"
    href="{{ url_for('submissions.delete', submission_id=submission.id, class_id=class_.id) }}">
    <i class="trash icon"></i> Delete
</a>
{% endif %}

<h2 class="ui horizontal header divider">{{submission.get_type_display()}}</h2>
<table class="ui celled table">
    <thead>
        <tr>
            <th></th>
            <th>Project</th>
            <th>Student</th>
            <th>File</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

        {% for progress_report in progress_reports %}

        {% set group = current_user.get_group(class_= class_) %}
        {% set project = progress_report.owner.get_project() %}

        <tr>
            <td>{{loop.index}}</td>
            <td>{{project.name}}</td>
            <td class="right aligned collapsing">
                {% if not project %}
                <a target="_blank" href="{{ url_for('accounts.profile', user_id=progress_report.owner.id) }}">
                    {{ progress_report.owner.get_fullname() }} ({{progress_report.owner.username}})
                </a>
                {% else %}

                {% for student in project.students %}
                <a target="_blank" href="{{ url_for('accounts.profile', user_id=student.id) }}">
                    {{ student.get_fullname() }} ({{ student.username }}) </a>
                {% if not loop.last %}<br>{% endif %}
                {% endfor %}

                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('submissions.download', progress_report_id=progress_report.id, filename=progress_report.file.filename) }}"
                    target="_blank">
                    {{progress_report.file.filename}}
                </a>
            </td>
            <td>{{ progress_report.description }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock %}>