{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<li><a href="{{ url_for('classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li>Submission:
    <a href="{{ url_for('submissions.view', submission_id=submission.id, class_id=class_.id) }}">{{
        submission.get_type_display() }}
    </a>
</li>
{% endblock %}


{% block content %}


<div class="overflow-x-auto">
<table class="table table-zebra">
    <tbody>
        <tr>
            <th class="font-medium w-40">Type</th>
            <td>{{ submission.get_type_display() }}</td>
        </tr>
        <tr>
            <th class="font-medium">Description</th>
            <td>{{ submission.description }}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <th class="font-medium">Started Date</th>
            <td>{{ submission.natural_started_date() }}</td>
        </tr>
        <tr>
            <th class="font-medium">Ended Date</th>
            <td>{{ submission.natural_ended_date() }}</td>
        </tr>
        <tr>
            <th class="font-medium">Extended Date</th>
            <td>{{ submission.natural_extended_date() }}</td>
        </tr>
    </tbody>
</table>
</div>

{% if current_user.has_roles("admin") %}
<a class="btn btn-primary btn-sm mt-2"
    href="{{ url_for('submissions.edit', submission_id=submission.id, class_id=class_.id) }}">
    <i class="fa-solid fa-pen-to-square"></i> Edit
</a>

<a class="btn btn-error btn-sm mt-2"
    href="{{ url_for('submissions.delete', submission_id=submission.id, class_id=class_.id) }}">
    <i class="fa-solid fa-trash"></i> Delete
</a>

<a class="btn btn-warning btn-sm mt-2"
    href="{{ url_for('submissions.force_report', submission_id=submission.id) }}">
    <i class="fa-solid fa-plus"></i> Admin Force Create Report
</a>

{% endif %}

<div class="divider text-2xl font-bold">{{submission.get_type_display()}}</div>
<div class="overflow-x-auto">
<table class="table table-zebra">
    <thead>
        <tr>
            <th></th>
            <th>Project</th>
            <th>Student</th>
            <th>File</th>
            <th>Description</th>
            <th>Submitted time</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>

        {% for progress_report in progress_reports %}

        {% set group = current_user.get_group(class_= class_) %}
        {% set project = progress_report.owner.get_project() %}

        <tr>
            <td>{{loop.index}}</td>
            <td>{{project.name}}</td>
            <td class="text-right whitespace-nowrap">
                {% if not project %}
                <a target="_blank" href="{{ url_for('accounts.profile', user_id=progress_report.owner.id) }}">
                    {{ progress_report.owner.get_fullname() }} ({{progress_report.owner.username}})
                </a>
                {% else %}

                {% for student in project.students %}
                <a target="_blank" href="{{ url_for('accounts.profile', user_id=student.id) }}">
                    {{ student.get_fullname() }} ({{ student.username }}) </a>
                {% endfor %}

                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('submissions.download', progress_report_id=progress_report.id, filename=progress_report.file.filename) }}"
                    target="_blank">
                    {{ progress_report.file.filename }}
                </a>
            </td>
            <td>{{ progress_report.description }}</td>
            <td>
                {% if progress_report.updated_date > submission.ended_date %}
                <span class='text-warning'>(Late)</span>
                {% endif %}
                {{ progress_report.get_uploaded_date() }}
            </td>
            <td>
              <a class="btn btn-primary btn-square" href="{{ url_for('admin.submissions.change_reported_date', submission_id=submission.id, progress_report_id=progress_report.id) }}"><i class="fa-solid fa-calendar"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
</div>



{% endblock %}>
