{% set class_icons = {"preproject":{"icon":"laptop-code", "color":"text-warning"}, "project":{"icon":"laptop-code", "color":"text-success"}, "precooperative":{"icon":"diagram-project", "color":"text-warning"}, "cooperative":{"icon":"diagram-project", "color":"text-success"}} %}
