{% extends '/base/default-dashboard.html' %}
{% import '/dashboard/project-renderer.html' as renderer %}

{% block dashboard_title %}
Dashboard
{% endblock %}


{% block content %}
<h2 class="ui header horizontal divider">Classes</h2>
{% if opened_classes %}
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      {#
      <th>Type</th>
      #}
      <th>Ended Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for class_ in opened_classes %}
    <tr>
      <td>
        <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
      </td>
      <td>
        {{ class_.description }}
      </td>
      {#
      <td>
        {{ class_.get_type_display() }}
      </td>
      #}
      <td>
        {{ class_.ended_date }}
      </td>
      <td class="single line">
        <a href="{{ url_for('classes.view', class_id=class_.id) }}" class="ui icon primary circular button">
          <i class="icon eye link pop" data-content="View class"></i>
        </a>
        <a href="{{ url_for('classes.approve_meeting_report', class_id=class_.id) }}" class="ui icon primary circular button">
          <i class="icon clipboard link pop" data-content="Approve waiting progress report"></i>
        </a>
        <a href="{{ url_for('round_grades.view', class_id=class_.id, round_grade_type='midterm') }}" class="ui icon yellow circular button">
          <i class="icon font link pop" data-content="Midterm grade"></i>
        </a>
        <a href="{{ url_for('round_grades.view', class_id=class_.id, round_grade_type='final') }}" class="ui icon red circular button">
          <i class="icon font link pop" data-content="Final grade"></i>
        </a>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="ui info message">
  No opened classes to display
</div>
{% endif %}

{{ renderer.render_project_section(alumni_projects, current_user, advisee_projects, committee_projects) }}

{% endblock %}
