{% extends '/base/default-dashboard.html.j2' %}

{% block content %}
<div class="card bg-base-100 shadow my-4 min-h-[80vh] pt-[10vh]">
  <div class="card-body items-center text-center">
    <i class="fa-solid fa-building-columns fa-2x"></i>
    <h3 class="text-xl font-semibold">Hello, {{ current_user.first_name }} {{ current_user.last_name }} </h3>
    <div>
      <a class="btn btn-primary" href="{{ url_for('votings.index') }}">View Vote</a>
    </div>
  </div>
</div>
{% endblock %}
