{% extends '/base/default-dashboard.html' %}
{% import '/base/project-material-renderer.html' as pm_renderer %}

{% block dashboard_title %}
Dashboard
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
  <a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
</div>
{% endblock %}

{% block content %}

<div class="ui horizontal left aligned divider header">
  Project
</div>
{% if projects | count > 0 %}
<div class="ui segment row">
  <h4>Project</h4>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui middle aligned divided list">
        {% for project in projects %}
        <div class="item">
          <div class="right floated content single line">
            {{ pm_renderer.render_project_material(project) }}

            {#
            <a class="ui primary button" href="{{ url_for('projects.upload', project_id=project.id) }}">Upload</a>}
            #}
            <a class="ui primary button" href="{{ url_for('projects.edit', project_id=project.id) }}">Edit</a>
          </div>
          <i class="laptop large icon avatar"></i>
          <div class="content">
            <div class="header">{{ project.name }}</div>
            <div>
              <i class="user icon"></i>
              {% for s in project.students %}
              {{ s.first_name }} {{ s.last_name }}
              {% if not loop.last %}, {% endif %}
              {% endfor %}

              <i class="user tie icon"></i> {{ project.advisors|map(attribute='fullname')|join(', ' }}
              {#
              {% if project.is_approval(project.advisor) %}
              <i class="large blue check icon"></i>
              {% else %}
              <i class="large check icon disabled"></i>
              {% endif %}
              #}
            </div>
            <div>

              <i class="user cog icon"></i>
              {% for committee in project.committees %}
              {{ committee.first_name }} {{ committee.last_name }}
              {#
              {% if project.is_approval(committee) %}
              <i class="large blue check icon"></i>
              {% else %}
              <i class="large check icon disabled"></i>
              {% endif %}
              #}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="ui info message">No projects to display</div>
{% endif %}

<div class="ui labeled icon menu">
  <a class="item" href="{{ url_for('projects.create') }}">
    <i class="add icon"></i>
    Create Project
  </a>
</div>

<div class="ui horizontal left aligned divider header">
  Classes
</div>

{% if available_class %}
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Ended Date</th>
    </tr>
  </thead>

  <body>
    {% for class_ in available_class%}
    <tr>
      <td>
        <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
      </td>
      <td>
        {{ class_.description }}
      </td>
      <td>
        {{ class_.get_type_display() }}
      </td>
      <td>
        {{ class_.ended_date }}
      </td>
    </tr>
    {% endfor %}
  </body>
</table>
{% else %}
<div class="ui info message">
  No opened classes to display
</div>
{% endif %}
{% endblock %}
