{% import '/base/project-material-renderer.html.j2' as pm_renderer %}
{% import '/dashboard/class-attributes.html.j2' as class_attributes %}


{% macro render_project_section(projects, current_user, advisee_projects, committee_projects) -%}
<div class="card bg-base-100 shadow my-4">
  <div class="card-body p-4">
  {%- if advisee_projects | count > 0 %}
  <h4 class="text-lg font-semibold">Advisee Project</h4>
  {{ render_current_project_table(advisee_projects, current_user) }}
  {%- endif %}
  {%- if committee_projects | count > 0 %}
  <h4 class="text-lg font-semibold">Examination Project</h4>
  {{ render_current_project_table(committee_projects, current_user) }}
  {%- endif %}
  {%- if projects | count > 0 %}
  <h4 class="text-lg font-semibold">Alumni Project</h4>
  {{ render_project_table(projects, current_user) }}
  {%- endif %}
  </div>
</div>

{% endmacro -%}

{% macro render_current_project_table(projects, current_user=None) -%}
<div class="overflow-x-auto">
<table class="table table-zebra">
  <thead>
    <tr>
      <th>Project</th>
      <th>Student</th>
      <th>Type</th>
      <th>Advisor</th>
      <th>Midterm</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr class="align-top">
      <td>{{ project.name }}</td>
      <td class="text-right whitespace-nowrap">
        {%- for s in project.students %}
        {{ s.first_name }} {{ s.last_name }}
        {% if not loop.last %}<br>{% endif %}
        {% endfor -%}
      </td>
      <td>
        {% set class_ = project.get_opened_class() %}
        {% if class_ and class_.type %}
          <i class="fa-solid fa-{{ class_attributes.class_icons[class_.type]['icon'] }} {{ class_attributes.class_icons[class_.type]['color'] }}"></i> {{ class_.type | title }}
        {% endif %}
      </td>
      <td class="text-right whitespace-nowrap">{{ project.advisors|map(attribute='fullname')|join(', ') }}</td>
      <td class="whitespace-nowrap">
        {% set class_ = project.get_opened_class() %}

        {% for student in project.students %}
          {% if student.get_meeting_reports(class_, 'midterm').count() > 0 and current_user in project.advisors %}
        <a target="_blank" class="tooltip" data-tip="Meeting Report of {{ student.get_fullname() }} ({{ student.username }})"
          href="{{ url_for('classes.list_report_by_user', class_id=class_.id, user_id=student.id) }}">
          <i class="fa-solid fa-clipboard fa-lg"></i>
        </a>
          {% endif %}
        {% endfor %}

        {% set progress_reports = project.get_progress_reports(round='midterm') %}
        {% for pr in progress_reports %}
        {% if pr.submission.type == 'report' %}
        <a target="_blank" class="tooltip" data-tip="Report of {{ pr.owner.get_fullname() }} ({{ pr.owner.username }})"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-pdf fa-lg"></i>
        </a>
        {% elif pr.submission.type == 'presentation' %}
        <a target="_blank" class="tooltip" data-tip="Presentation of {{ pr.owner.get_fullname() }} ({{ pr.owner.username }})"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-powerpoint fa-lg"></i>
        </a>
        {% else %}
        <a target="_blank" class="tooltip" data-tip="Other of {{ pr.owner.get_fullname() }} ({{ pr.owner.username }})"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-lines fa-lg"></i>
        </a>
        {% endif %}
        {% endfor %}

      </td>
      <td class="whitespace-nowrap">
        {% if project.creator and project.creator.get_meeting_reports(class_, 'final').count() > 0 and current_user not in project.advisors %}
        <a target="_blank" class="tooltip" data-tip="Meeting Report"
          href="{{ url_for('classes.list_report_by_user', class_id=class_.id, user_id=project.creator.id) }}">
          <i class="fa-solid fa-clipboard fa-lg"></i>
        </a>
        {% elif current_user not in project.advisors %}
        {#
          <i class="fa-solid fa-clipboard fa-lg opacity-30"></i>
        #}
        {% endif %}
        {% set progress_reports = project.get_progress_reports(round='final') %}
        {% for pr in progress_reports %}
        {% if pr.submission.type == 'report' %}
        <a target="_blank" class="tooltip" data-tip="Report of {{ pr.owner.username }}"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-pdf fa-lg"></i>
        </a>
        {% elif pr.submission.type == 'presentation' %}
        <a target="_blank" class="tooltip" data-tip="Presentation of {{ pr.owner.username }}"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-powerpoint fa-lg"></i>
        </a>
        {% else %}
        <a target="_blank" class="tooltip" data-tip="Other of {{ pr.owner.username }}"
          href="{{ url_for('submissions.download', progress_report_id=pr.id, filename=pr.file.filename) }}">
          <i class="fa-solid fa-file-lines fa-lg"></i>
        </a>
        {% endif %}
        {% endfor %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%- endmacro %}

{% macro render_project_table(projects, current_user=None) -%}
<div class="overflow-x-auto">
<table class="table table-zebra">
  <thead>
    <tr>
      <th>Project</th>
      <th>Student</th>
      <th>Advisor</th>
      <th>Type</th>
      <th>Public</th>
      <th>Document</th>
      {#
      <th>Action</th>
      #}
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr class="align-top">
      <td>{{ project.name }}</td>
      <td class="text-right whitespace-nowrap">
        {%- for s in project.students %}
        <a target="_blank" href="{{ url_for('accounts.profile', user_id=s.id) }}">
          {{ s.first_name }} {{ s.last_name }}
        </a>
        {% if not loop.last %}<br>{% endif %}
        {% endfor -%}
      </td>
      <td class="text-right whitespace-nowrap">{{ project.advisors|map(attribute='fullname')|join(', ') }}</td>
      <td>
        {% set class_ =  project.get_opened_class() or project.class_ %}
        {% if class_ and class_.type %}
          <i class="fa-solid fa-{{ class_attributes.class_icons[class_.type]['icon'] }} {{ class_attributes.class_icons[class_.type]['color'] }}"></i> {{ class_.type | title }}
        {% endif %}
      </td>
      <td class="text-right whitespace-nowrap">{{ project.public.title() }}</td>
      <td class="text-right whitespace-nowrap">
        {{ pm_renderer.render_project_material(project) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%- endmacro %}
