{% extends '/base/default-dashboard.html' %}

{% macro print_results(votings) -%}
<table class="ui celled selectable table">
  <thead class="center aligned">
    <th>Project</th>
    <th>Student</th>
    <th>Votes</th>
  </thead>
  <tbody>
    {% for p, v in votings.items() %}
    <tr>
      <td>{{ p.name }}</td>
      <td>
        {% if p.students | count > 0 %}
          {%- for s in p.students %}
            {{ s.username }} ({{ s.first_name_th }} {{ s.last_name_th }}),
          {%- endfor %}
        {% else %}
          {{ p.student_ids | join(', ') }}
        {% endif %}
      </td>
      <td class="right aligned">{{ v }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% block content %}
<div class="ui segment" style="min-height: 80vh;">
  <div class="ui icon header center aligned">
    <i class="icon snowflake end"></i>
    <h1>Student Result</h1>
    <h2>Election: {{ election.started_date }} - {{ election.ended_date }}</h2>

  </div>
  <div style="padding-top: 20px;">
    <h3>CoE Lecturer & Staff</h3>
    {{ print_results(lec_votings) }}
  </div>
  <div style="padding-top: 20px;">
    <h3>Participant</h3>
    {{ print_results(std_votings) }}
  </div>
<div>

{% endblock %}
