{% extends '/base/default-dashboard.html' %}
{% block content %}
<div class="ui placeholder segment" style="padding-top:50px;">
  <div class="ui icon header">
    <i class="icon hourglass end"></i>
    
    <h1 class="header"> {{ election.class_.name }} </h1>
    <div class="ui segment text container left aligned">
      <p> Vote Start {{ election.started_date.strftime("%d/%m/%Y, %H:%M:%S")}} </p>
      <p> Vote Stop {{ election.ended_date.strftime("%d/%m/%Y, %H:%M:%S") }} </p>
    </div>
  </div>
</div>
<div class="ui container segment">
  {% if form.errors %}
    <div class="ui error message">
      {{ form.errors }}
    </div>
  {% endif %}
  <div class="ui info message">
    {% if 'CoE-lecturer' in current_user.roles %}
      <h2>Hello Aj. {{ current_user.first_name }} {{ current_user.last_name }}</h2>
    {% endif %}
    <p>Click the selection box and select a project name; only three projects will be selected.</p>
  </div>
  <form method="POST" class="ui form">
    {{ form.csrf_token }}
      <div class="field">
        {{ form.projects.label }}
        {{ form.projects(class_='ui dropdown') }}
      </div>
      <div class="ui vertical center aligned segment">
        <div class="ui primary submit button">Vote</div>
      </div>
      <div class="ui error message"></div>
    </form>
 </div>
{% endblock %}

{% block additional_js %}

  <script src=" {{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.js') }}"></script>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown(
      {
        ignoreDiacritics: true,
        sortSelect: true,
        fullTextSearch:'exact'
      }
    );
    $('.ui.form')
      .form({
        fields:{
          projects: {
            rules: [
              {
                type: 'minCount[1]',
                prompt : 'Please select at least one project'
              },
              {
                type: 'maxCount[3]',
                prompt : 'Please select not over three projects'
              }]
          }
        }
      });

  </script>
{% endblock %}
