{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('round_grades.index', class_id=class_.id) }}">Grading</a></li>
{% endblock %}


{% block content %}

<div class="divider text-3xl font-bold">
    {{ class_.name }}
</div>

{% endblock %}
