{% extends '/classes/view-student.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('round_grades.view_student_grades', class_id=class_.id) }}">View Grades</a>
</div>
{% endblock %}


{% block content %}

<div class="ui segment">
    <h2 class="ui header">
        <i class="user graduate icon"></i>
        <div class="content">
            Student
            <div class="sub header">{{ student.username }}: {{ student.get_fullname() }}</div>
        </div>
    </h2>
</div>

<div class="ui segment">
    <h3 class="ui header">Project</h3>
    <table class="ui definition large table">
        <tbody>
            <tr>
                <td class="two wide column">Name</td>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>{{ project.abstract }}</td>
            </tr>
            <tr>
                <td>Advisor</td>
                <td>
                  {% for advisor in project.advisors %}
                    {{ advisor.get_fullname() }}
                  {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Committees</td>
                <td>
                    {% for committee in project.committees %}
                    {{ committee.title }} {{ committee.get_fullname() }} {{', ' if not loop.last }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="ui header">
    Grade
</h3>

{% for round_grade in round_grades %}
    {% if round_grade.release_status == "released" %}
    {% set actual_grade, causes = student.get_actual_grade(round_grade) %}
        <div class="ui segment">
            <h4>{{ round_grade.get_type_display() }}</h4>
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td class="three wide column">Average Grade Point</td>
                        <td class="two  wide">
                            {{ actual_grade }}
                        </td>
                        <td>
                        {% for cause in causes %}
                            - {{ cause }}<br/>
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}

{% if average_total_grade != "Incomplete" %}
    <div class="ui segment">
        <h4>Overall Average Grade</h4>
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="three wide column">Average Grade Point</td>
                    <td>
                        {{ average_total_grade }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}
