{% extends '/classes/view-student.html.j2' %}
{% import '/base/error-handler.html.j2' as eh %}

{% block breadcrumbs %}
<li><a href="{{ url_for('dashboard.index') }}">Classes</a></li>
<li><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('round_grades.view_student_grades', class_id=class_.id) }}">View Grades</a></li>
{% endblock %}


{% block content %}

<div class="card bg-base-100 shadow my-4">
    <div class="card-body p-4">
        <h2 class="text-2xl font-bold">
            <i class="fa-solid fa-user-graduate"></i>
            Student
        </h2>
        <div class="text-sm opacity-70">{{ student.username }}: {{ student.get_fullname() }}</div>
    </div>
</div>

<div class="card bg-base-100 shadow my-4">
    <div class="card-body p-4">
        <h3 class="text-xl font-semibold">Project</h3>
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <tbody>
                    <tr>
                        <th class="font-medium">Name</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th class="font-medium">Abstract</th>
                        <td>{{ project.abstract }}</td>
                    </tr>
                    <tr>
                        <th class="font-medium">Advisor</th>
                        <td>
                          {% for advisor in project.advisors %}
                            {{ advisor.get_fullname() }}
                          {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="font-medium">Committees</th>
                        <td>
                            {% for committee in project.committees %}
                            {{ committee.title }} {{ committee.get_fullname() }} {{', ' if not loop.last }}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3 class="text-xl font-semibold">
    Grade
</h3>

{% for round_grade in round_grades %}
    {% if round_grade.release_status == "released" %}
    {% set actual_grade, causes = student.get_actual_grade(round_grade) %}
        <div class="card bg-base-100 shadow my-4">
            <div class="card-body p-4">
                <h4 class="text-lg font-semibold">{{ round_grade.get_type_display() }}</h4>
                <div class="overflow-x-auto">
                    <table class="table table-zebra">
                        <tbody>
                            <tr>
                                <th class="font-medium">Average Grade Point</th>
                                <td>
                                    {{ actual_grade }}
                                </td>
                                <td>
                                {% for cause in causes %}
                                    - {{ cause }}<br/>
                                {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% if average_total_grade != "uncompleted" %}
    <div class="card bg-base-100 shadow my-4">
        <div class="card-body p-4">
            <h4 class="text-lg font-semibold">Overall Average Grade</h4>
            <div class="overflow-x-auto">
                <table class="table table-zebra">
                    <tbody>
                        <tr>
                            <th class="font-medium">Average Grade Point</th>
                            <td>
                                {{ average_total_grade }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
