{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.index', class_id=class_.id) }}">Grading</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.view', class_id=class_.id, grade_type=grade.type) }}">{{ grade.get_type_display()
        }}</a>
</div>
{% endblock %}


{% block content %}

<h1 class="ui horizontal divider header">
    {{ class_.name }}
</h1>

<div class="ui big compact menu">
    <a class="item" href="{{ url_for('admin.classes.view', class_id=class_.id )}}">
        <i class="chalkboard icon"></i>
        Class
    </a>
    <a class="item" href="{{ url_for('classes.view_students', class_id=class_.id) }}">
        <i class="users icon"></i>
        View Students
    </a>
    <div class="item ui floating labeled dropdown">
        <i class="star icon"></i>
        <span class="text">
            {{ 'Midterm' if 'midterm' in request.path else 'Final' }}
        </span>
        <div class="menu">
            <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='midterm') }}">
                Midterm
            </a>
            <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='final') }}">
                Final
            </a>
        </div>
    </div>
    <div class="item ui floating labeled dropdown">
        <i class="setting icon"></i>
        <span class="text">Settings</span>
        <div class="menu">
            <a class="item" href="">
                Manage Group
            </a>
            <a class="item" href="{{ url_for('admin.classes.edit', class_id=class_.id) }}">
                Edit Class
            </a>
            <a class="item" onclick="showDelete()">
                Delete Class
            </a>
        </div>
    </div>
</div>

<h2 class="ui header">{{ grade.get_type_display() }} Grade</h2>
<div class="ui divider"></div>
<div class="ui segment">
    <div class="ui left aligned icon header">
        <span class=" ui darkgrey text" style="margin-right: 0.5em">
            {{ grade.teacher.title }}
            {{ grade.teacher.first_name }}
            {{ grade.teacher.last_name }}
        </span>
    </div>
</div>

<div class="ui segment">
    {% if 'grading' in request.path %}
    <a class="ui primary labeled icon button"
        href="{{ url_for('grades.view', class_id=class_.id, grade_type=grade.type) }}">
        <i class="eye icon"></i>
        View
    </a>
    {% else %}
    <a class="ui primary labeled icon button"
        href="{{ url_for('grades.grading', class_id=class_.id, grade_type=grade.type) }}">
        <i class="edit icon"></i>
        Grading
    </a>
    {% endif %}
    <a class="ui yellow labeled icon button"><i class="clipboard check icon"></i>Total</a>
</div>
<form method="POST" id="form-grades">
    <div class="ui attached segment">
        <table class="ui very compact celled table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>ID</th>
                    <th>Student Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student_grade in grade.student_grades %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student_grade.student.username }}</td>
                    <td>{{ student_grade.student.first_name }} {{ student_grade.student.last_name }}</td>
                    <td>
                        {% if 'grading' in request.path %}
                        <input type="text" name="{{student_grade.id}}" value="{{student_grade.result}}">
                        {% else %}
                        {{ student_grade.result }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if 'grading' in request.path %}
    <div class="ui bottom attached large primary icon button" id="submit-button"><i class="save icon"></i> Save</div>
    {% endif %}
</form>

{% endblock %}

{% block additional_js %}
<script>
    var form = document.getElementById("form-grades");

    document.getElementById("submit-button").addEventListener("click", function () {
        form.submit();
    });
</script>
{% endblock additional_js %}