{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.index', class_id=class_.id) }}">Grading</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.view', class_id=class_.id, grade_type=grade.type) }}">{{ grade.get_type_display()
        }}</a>
</div>
{% endblock %}


{% block content %}

<h1 class="ui horizontal divider header">
    {{ class_.name }}
</h1>

{{ renderer_navbar.render_class_navbar(class_) }}

<h2 class="ui header">
    {{ "View" if 'view' in request.path }}
    {{ "Grading" if 'grading' in request.path }}
    {{ "Total" if 'total' in request.path }}
    {{ grade.get_type_display() }} Grade</h2>
<div class="ui divider"></div>

<div class="ui segment">
    <a class="ui primary labeled icon button"
        href="{{ url_for('grades.view', class_id=class_.id, grade_type=grade.type) }}">
        <i class="eye icon"></i>
        View
    </a>
    <a class="ui primary labeled icon button"
        href="{{ url_for('grades.grading', class_id=class_.id, grade_type=grade.type) }}">
        <i class="edit icon"></i>
        Grading
    </a>
</div>

<form method="POST" id="form-grade">
    <div class="ui attached segment">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="one wide">No.</th>
                    <th class="two wide">Student ID</th>
                    <th class="four wide">Student Name</th>
                    <th class="two wide">Grade</th>
                    <th>Total Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student_grade in student_grades %}
                {% if student_grade.teacher == user %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student_grade.student.username }}</td>
                    <td>{{ student_grade.student.first_name }} {{ student_grade.student.last_name }}</td>
                    <td>
                        {% if 'grading' not in request.path %}
                        {{ student_grade.result }}
                        {% else %}
                        <div class="ui input">
                            <select class="ui selection dropdown" name="{{student_grade.id}}">
                                <option>-</option>
                                <option value="A">A</option>
                                <option value="B+">B+</option>
                                <option value="B">B</option>
                                <option value="C+">C+</option>
                                <option value="C">C</option>
                                <option value="D+">D+</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                            </select>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <a id="{{student_grade.id}}" onclick="accordion_show_hide('{{student_grade.id}}')">
                                    See More
                                </a>
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    {% for student_grade in get_total_student_grades(student_grade.student, class_,
                                    grade) %}
                                <div class="ui relaxed divided list">
                                    <div class="item">
                                        {% if student_grade.teacher.get_picture() %}
                                        <img class="ui avatar image" src="{{ student_grade.teacher.get_picture() }}">
                                        {% else %}
                                        <i class="user icon"></i>
                                        {% endif %}
                                        <div class="content">
                                            <a class="header">
                                                {{ student_grade.teacher.first_name }} {{
                                                student_grade.teacher.last_name }}</a>
                                            <div class="description">{{ student_grade.result }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {#
                                <table class="ui very compact celled table">
                                    <thead>
                                        <th></th>
                                        <th>Lecturer Name</th>
                                        <th>Grade</th>
                                    </thead>
                                    <tbody>
                                        {% for student_grade in get_total_student_grades(student_grade.student, class_,
                                        grade) %}
                                        <tr>
                                            <td>
                                                {{ loop.index }}.
                                            </td>
                                            <td>
                                                {% if student_grade.teacher == user %}
                                                (You)
                                                {% endif %}
                                                {{ student_grade.teacher.first_name }}
                                                {{ student_grade.teacher.last_name }}
                                            </td>
                                            <td>
                                                {{ student_grade.result }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                #}
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if 'grading' in request.path %}
    <div class="ui bottom attached large primary icon button" id="submit-button"><i class="save icon"></i> Save</div>
    {% endif %}
</form>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    var form = document.getElementById("form-grade");
    if ('{{ request.path }}'.includes('grading')) {
        document.getElementById("submit-button").addEventListener("click", function () {
            form.submit();
        });
    }

    function accordion_show_hide(show_hide_id) {
        $('.ui.accordion').accordion({
            onOpening: function () {
                document.getElementById(show_hide_id).innerHTML = "Hide"
            },
            onClosing: function () {
                document.getElementById(show_hide_id).innerHTML = "See More"
            }
        },
        );
    }
</script>
{% endblock additional_js %}