{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.index', class_id=class_.id) }}">Grading</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('grades.view', class_id=class_.id, grade_type=grade.type) }}">{{ grade.get_type_display()
        }}</a>
</div>
{% endblock %}


{% block content %}

<h1 class="ui horizontal divider header">
    {{ class_.name }}
</h1>

<div class="ui big compact menu">
    <a class="item" href="{{ url_for('admin.classes.view', class_id=class_.id )}}">
        <i class="chalkboard icon"></i>
        Class
    </a>
    <div class="item ui floating labeled dropdown">
        <i class="star icon"></i>
        <span class="text">
            {{ 'Midterm' if 'midterm' in request.path else 'Final' }}
        </span>
        <div class="menu">
            <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='midterm') }}">
                Midterm
            </a>
            <a class="item" href="{{ url_for('grades.view', class_id=class_.id, grade_type='final') }}">
                Final
            </a>
        </div>
    </div>
    <a class="item" href="{{ url_for('classes.view_students', class_id=class_.id) }}">
        <i class="users icon"></i>
        View Students
    </a>
    <div class="item ui floating labeled dropdown">
        <i class="setting icon"></i>
        <span class="text">Settings</span>
        <div class="menu">
            <a class="item" href="">
                Manage Group
            </a>
            <a class="item" href="{{ url_for('admin.classes.edit', class_id=class_.id) }}">
                Edit Class
            </a>
            <a class="item" onclick="showDelete()">
                Delete Class
            </a>
        </div>
    </div>
</div>

<h2 class="ui header">{{ grade.get_type_display() }} Grade</h2>
<div class="ui divider"></div>
<div class="ui segment">
    <h3 class="ui header" style="width: fit-content">Grade student in class on {{ grade.get_type_display() }}</h3>
    <div class="ui big green icon button">
        <i class="edit icon"></i>
        Grading
    </div>

</div>
<table class="ui very compact celled table">
    <thead>
        <tr>
            <th>No.</th>
            <th>ID</th>
            <th>Student Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for student_grade in grade.student_grades %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student_grade.student.username }}</td>
            <td>{{ student_grade.student.first_name }} {{ student_grade.student.last_name }}</td>
            <td>{{ student_grade.result }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}