{% extends '/base/default-dashboard.html.j2' %}

{% block dashboard_title %}
Classes
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('classes.index') }}">Classes</a></li>
{% endblock %}


{% block content %}
<div class="divider"><h2 class="text-2xl font-bold">All Classes</h2></div>

<div class="row">

	{% if classes %}
	<div class="overflow-x-auto">
	<table class="table table-zebra">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>

		<body>
			{% for class_ in classes %}
			<tr>
				<td>
					<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
				</td>
				<td>
					{{ class_.description }}
				</td>
			</tr>
			{% endfor %}
		</body>
	</table>
	</div>
	{% endif %}

</div>
{% endblock %}