{% extends '/classes/index.html' %}

{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}
{% import '/dashboard/project-renderer.html' as renderer_project %}

{% block breadcrumbs %}
<li><a href="{{ url_for('classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<h2 class="text-2xl font-bold">Class</h2>
<div class="divider"></div>

<div class="overflow-x-auto">
<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="text-sm opacity-70">NAME </div>{{ class_.name }}
      </td>
      <td>
        <div class="text-sm opacity-70">DESCRIPTION</div> {{ class_.description }}
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-sm opacity-70">TYPE</div> {{ class_.get_type_display() }}
      </td>
      <td>
        <div class="text-sm opacity-70">TAG</div> {{ class_.tags | join(', ') }}
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-sm opacity-70">STARTED DATE</div> {{ class_.started_date }}
      </td>
      <td>
        <div class="text-sm opacity-70">ENDED DATE</div> {{ class_.ended_date }}
      </td>
    </tr>
  </tbody>
</table>
</div>

<h3 class="text-xl font-semibold">
  {% if 'classes.approve_meeting_report' in request.endpoint %}
    Waiting Meeting Report Approval
  {% else %}
    Meeting Report
  {% endif %}
  {% if current_user.has_roles('admin') and 'admin' in request.endpoint %}
    <a href="{{ url_for('admin.classes.approve_meeting_report', class_id=class_.id, filter='late', admin_view='true') }}">Late Report</a>
  {% endif %}
</h3>
<div class="divider"></div>
<div class="overflow-x-auto">
<table class="table table-zebra">
  <thead>
    <tr>
      <th>Student</th>
      <th>Round</th>
      <th>Meeting</th>
      <th>Title / Description</th>
      <th>Meeting Date</th>
      <th>Status</th>
      <th>Remark</th>
      <th>Approval</th>
    </tr>
  </thead>

  <tbody>
    {% for report in meeting_reports %}
    {%- set tr_class='align-top' %}
    {%- if report.status == 'late-report' %}
      {% set tr_class='bg-warning/20' %}
    {%- endif %}
    <tr class="{{ tr_class }} align-top">
      <td>
        {{ report.owner.username }} <br />
        {{ report.owner.first_name }} {{ report.owner.last_name }}
      </td>
      <td>
        {{ report.meeting.get_round_display() }}
      </td>
      <td>
        <a href="{{ url_for('meetings.view', meeting_id=report.meeting.id) }}">
          {{ report.meeting.name }}
        </a>
      </td>
      <td>
        <div><h3 class="text-xl font-semibold">{{ report.title }}</h3></div>
        <div>
          {{ markdown.markdown(report.description)|safe }}
        </div>
        {% if report.file %}
          <div>
            {%- if report.file.filename[-3:].lower() == 'png' %}
              <img class="max-w-full" src="{{ url_for('meetings.download', meeting_report_id=report.id, filename=report.file.filename) }}">
            {% else %}
              <a href="{{ url_for('meetings.download', meeting_report_id=report.id, filename=report.file.filename) }}">{{ report.file.filename }}</a>
            {%- endif %}
          </div>
        {% endif %}
        <div>
          <b>Advisors: </b> {{ report.advisors|map(attribute="fullname")|join(', ') }}

          <br/>
          <b>Last Updated Date: </b>{{ report.updated_date.ctime() }}
        </div>
      </td>
      <td>
        {{ report.meeting_date }}
      </td>
      <td class="{{'bg-success/20' if report.status == 'approved'}}{{'bg-error/20' if report.status == 'disapproved'}}">
        <b>{{ report.get_status_display() if report.status else 'Waiting for approval' }}</b><br/>
        {% if report.status == 'approved' and report.approved_date %}
          {{ report.approved_date.ctime() }}
        {% endif %}
      </td>
      <td>
        {% if report.late_reason %}
          <div>
            <b>Late Submission Reason</b>
            {{ markdown.markdown(report.late_reason)|safe }}
          </div>
        {% endif %}
        {% if report.remark %}
          <div>
            <b>Remark</b>
            {{ markdown.markdown(report.remark)|safe }}
          </div>
        {% endif %}
      </td>
      <td class="whitespace-nowrap">
        <div class="mb-2">
          <a href="{{ url_for('meetings.approval', meeting_report_id=report.id, meeting_id=report.meeting.id, action='approve') }}"
            class="btn btn-success btn-square"><i class="fa-solid fa-check"></i></a>
          <a onclick="showDisapprove('{{report.id}}')" class="btn btn-error btn-square"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <form method="POST" id="form-round_grade"
          action="{{ url_for('meetings.approval', meeting_report_id=report.id, meeting_id=report.meeting.id, action='disapprove') }}">
          {{ form.csrf_token }}
          <div id="disapprove form {{report.id}}" class="hidden">
            {{ renderer.render_field(form.remark) }}
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  function showDisapprove(report_id) {
    console.log("disapprove form " + report_id)
    document.getElementById("disapprove form " + report_id).classList.toggle('hidden')
  }
</script>
{% endblock additional_js %}
