{% extends '/admin/classes/index.html.j2' %}
{% import '/base/error-handler.html.j2' as eh %}
{% import '/admin/classes/project-renderer.html.j2' as renderer %}
{% import '/navbar/class-navbar.html.j2' as renderer_navbar %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.classes.index') }}">Classes</a></li>
<li><a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a></li>
<li><a href="{{ url_for('admin.classes.view_students', class_id=class_.id) }}">View Students</a></li>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<h2 class="text-2xl font-bold">
    View Students
</h2>
<div class="divider"></div>
<div>
  <a href="{{ url_for('exports.export_students', class_id=class_.id) }}" class="btn btn-primary btn-circle btn-lg"><i class="fa-solid fa-file-excel"></i></a>
</div>
<div class="overflow-x-auto">
<table class="table table-zebra">
  <thead>
    <th>No. </th>
    <th>ID</th>
    <th>Name</th>
    <th>Project</th>
    <th>Adivisor / Committees</th>
    <th>MT Meetings</th>
    <th>MT Report</th>
    <th>MT Presentation</th>
    <th>F Meetings</th>
    <th>F Report</th>
    <th>F Presentation</th>
  </thead>
  <tbody>
    {% for student_id in class_.student_ids %}
      {% set student = get_student_by_id(student_id, students) %}
      {% if student %}
        {% set project = student.get_project() %}
      {% endif %}
    <tr class="align-top">
      <td>
        {{ loop.index }}
      </td>
      <td>
        {{ student_id }}
      </td>
      <td>
        {% if student %}
          <a href="{{ url_for('accounts.profile', user_id=student.id) }}">
            {{ student.get_fullname() }}
          </a>
        {% endif %}
      </td>
      <td>
        {% if project %}
          {{ project.name }}
        {% endif %}
      </td>
      <td>
        {% if project %}
          <b>{{ project.advisors|map(attribute='fullname')|join(', ') }}</b><br/>
          {% for c in project.committees %}
            {{ c.get_fullname() }}<br/>
          {% endfor %}
        {% endif %}
      </td>

      <td>
        {% if student %}
          {{ student.get_meeting_reports(class_, 'midterm', 'approved').count() }}
          /
          {{ student.get_meeting_reports(class_, 'midterm').count() }}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_report(class_, 'midterm') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="fa-solid fa-file-pdf fa-lg"></i></a>
          {% else %}
            <i class="fa-solid fa-file-pdf fa-lg opacity-30"></i>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_presentation(class_, 'midterm') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="fa-solid fa-file-powerpoint fa-lg"></i></a>
          {% else %}
            <i class="fa-solid fa-file-powerpoint fa-lg opacity-30"></i>
          {% endif %}

        {% endif %}
      </td>

      <td>
        {% if student %}
          {{ student.get_meeting_reports(class_, 'final', 'approved').count() }}
          /
          {{ student.get_meeting_reports(class_, 'final').count() }}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_report(class_, 'final') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="fa-solid fa-file-pdf fa-lg"></i></a>
          {% else %}
            <i class="fa-solid fa-file-pdf fa-lg opacity-30"></i>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_presentation(class_, 'final') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="fa-solid fa-file-powerpoint fa-lg"></i></a>
          {% else %}
            <i class="fa-solid fa-file-powerpoint fa-lg opacity-30"></i>
          {% endif %}

        {% endif %}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
</div>



{% endblock %}
