{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view_students', class_id=class_.id) }}">View Students</a>
</div>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<h2 class="ui header">
    View Students
</h2>
<div class="ui divider"></div>
<div>
  <a href="{{ url_for('exports.export_students', class_id=class_.id) }}" class="ui icon primary large circular button"><i class="icon file excel"></i></a>
</div>
<table class="ui celled tablet stackable table">
  <thead>
    <th>No. </th>
    <th>ID</th>
    <th>Name</th>
    <th>Project</th>
    <th>Adivisor / Committees</th>
    <th>MT Meetings</th>
    <th>MT Report</th>
    <th>MT Presentation</th>
    <th>F Meetings</th>
    <th>F Report</th>
    <th>F Presentation</th>
  </thead>
  <tbody>
    {% for student_id in class_.student_ids %}
      {% set student = get_student_by_id(student_id, students) %}
      {% if student %} 
        {% set project = student.get_project() %}
      {% endif %}
    <tr class="top aligned">
      <td>
        {{ loop.index }}
      </td>
      <td>
        {{ student_id }}
      </td>
      <td>
        {% if student %}
          {{ student.get_fullname() }}
        {% endif %}
      </td>
      <td>
        {% if project %}
          {{ project.name }}
        {% endif %}
      </td>
      <td>
        {% if project %}
          <b>{{ project.advisors|map(attribute='fullname')|join(', ') }}</b><br/>
          {% for c in project.committees %}
            {{ c.get_fullname() }}<br/>
          {% endfor %}
        {% endif %}
      </td>

      <td>
        {% if student %}
          {{ student.get_meeting_reports(class_, 'midterm', 'approved').count() }} 
          /
          {{ student.get_meeting_reports(class_, 'midterm').count() }} 
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_report(class_, 'midterm') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="file pdf icon large"></i></a>
          {% else %}
            <i class="file pdf icon large disable" />
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_presentation(class_, 'midterm') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="file powerpoint icon large"></i></a>
          {% else %}
            <i class="file powerpoint icon large disable" />
          {% endif %}

        {% endif %}
      </td>

      <td>
        {% if student %}
          {{ student.get_meeting_reports(class_, 'final', 'approved').count() }} 
          /
          {{ student.get_meeting_reports(class_, 'final').count() }} 
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_report(class_, 'final') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="file pdf icon large"></i></a>
          {% else %}
            <i class="file pdf icon large disable" />
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if student %}
          {% set report=student.get_presentation(class_, 'final') %}
          {% if report %}
            <a href="{{ url_for('submissions.download', progress_report_id=report.id, filename=report.file.filename) }}" target="_blank"><i class="file powerpoint icon large"></i></a>
          {% else %}
            <i class="file powerpoint icon large disable" />
          {% endif %}

        {% endif %}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
