{% extends '/classes/index.html' %}
{% import '/base/project-material-renderer.html' as project_material_renderer %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
	<div class="divider"> / </div>
	<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}

{% block content %}
<h1>{{ class_.name }}</h1>

<table class="ui definition table">
	<tbody>
		<tr>
			<td class="two wide column">Description</td>
			<td>{{ class_.description }}</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>{{ class_.code }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Started Date</td>
			<td>{{ class_.started_date }}</td>
		</tr>
		<tr>
			<td>Ended Date</td>
			<td>{{ class_.ended_date }}</td>
		</tr>
		<tr>
			<td>Tag</td>
			<td>{{ class_.tags | join(', ') }}</td>
		</tr>
	</tbody>
</table>

{% if grade_released %}
<div class="ui segment">
	<h2 class="ui header">Grade</h2>
	<div class="ui divider"></div>
	<a class="ui green labeled icon button"
		href="{{ url_for('round_grades.view_student_grades', class_id=class_.id) }}">
		<i class="star icon"></i>
		View Grades
	</a>
</div>
{% endif %}


<div class="ui segment">

	<h2 class="ui header">Submissions</h2>
	<div class="ui divider"></div>

	<h3 class="ui header">Meetings</h3>
	{% if meetings | count > 0 %}
	<table class="ui celled table">
		<thead>
			<tr class="top aligned">
				<th>Name</th>
        <th>Round</th>
				<th>Started Date</th>
				<th>Ended Date</th>
				<th>Extended Date</th>
				<th>Status</th>
				<th>Time Remaining</th>
				<th>Action</th>
			</tr>
		</thead>

		<body>
			{% for meeting in meetings %}
			{% set meeting_report = meeting.get_meeting_report_by_owner(user) %}
			<tr class="top aligned">
				<td>
					{{ meeting.name }}
				</td>
				<td>
					{{ meeting.get_round_display() }}
				</td>

				<td class="right aligned">
					{{ meeting.started_date.strftime("%d %B %Y, %I:%M %p") }}
				</td>

				<td class="right aligned">
					{{ meeting.ended_date.strftime("%d %B %Y, %I:%M %p") }}
        </td>
				<td class="right aligned">
					{{ meeting.extended_date.strftime("%d %B %Y, %I:%M %p") }}
				</td>



				{# Status #}
				{% if meeting_report %}
				<td class="green">
					Submitted
				</td>
				{% else %}

				{% if meeting.get_status() == "opened" %}
				<td class="blue">
					<a href="{{ url_for('meetings.report', meeting_id=meeting.id)}}">
						Opened
					</a>
				</td>

				{% elif meeting.get_status() == "upcoming" %}
				<td>
					Upcoming
				</td>

				{% else %}
				<td class="red">
					Not Submitted
				</td>
				{% endif %}

				{% endif %}


				{% set time_delta, time_remain = meeting.get_remain_time() %}
				<td class="
				{{ 'orange' if not meeting_report and time_delta == 1 }} 
				{{ 'red' if not meeting_report and time_delta == 0 }} 
				{{ 'grey' if time_remain == 'Out of time'}}
				">
					{{ time_remain }}
				</td>

				<td>
					{% if meeting.get_status() == "opened" and meeting_report %}
					<a class="ui fluid labeled icon primary button"
						href="{{ url_for('meetings.report', meeting_id=meeting.id,  meeting_report_id=meeting_report.id) }}">
						<i class="edit icon"></i>
						Edit
					</a>
					{% elif meeting.get_status() == "opened" %}
					<a class="ui fluid labeled icon primary button"
						href="{{ url_for('meetings.report', meeting_id=meeting.id)}}">
						<i class="file alternate outline icon"></i>
						Report
          </a>
					{% elif meeting.get_status() == "lated" and meeting_report %}
					<a class="ui fluid labeled icon yellow button"
						href="{{ url_for('meetings.late_report', meeting_id=meeting.id, meeting_report_id=meeting_report.id) }}">
						<i class="hand paper icon"></i>
						Late Report Edit
					</a>

					{% elif meeting.get_status() == "lated" %}
					<a class="ui fluid labeled icon yellow button"
						href="{{ url_for('meetings.late_report', meeting_id=meeting.id)}}">
						<i class="hand paper icon"></i>
						Late Report
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</body>
	</table>
	{% else %}
	<div class="ui info message">No meetings at this time.</div>
	{% endif %}

	<div class="ui divider"></div>
	<h3 class="ui header">Report / Presentation</h3>
	{% if submissions | count > 0 %}
	<table class="ui celled table">
		<thead>
			<tr class="top aligned">
				<th>Type</th>
				<th>Round</th>
        <th>Description</th>
				<th>Started Date</th>
				<th>Ended Date</th>
				<th>Extended Date</th>
				<th>Status</th>
				<th>Time Remaining</th>
				<th>File</th>
				<th>Action</th>
			</tr>
		</thead>

		<body>
			{% for submission in submissions %}
			{% set progress_report = submission.get_progress_report_by_owner(user) %}
			<tr class="top aligned">
				<td>
					{{ submission.get_type_display() }}
				</td>
				<td>
					{{ submission.get_round_display() }}
				</td>
				<td>
					{{ submission.description }}
				</td>

				<td>
					{{ submission.natural_started_date() }}
				</td>
				<td>
					{{ submission.natural_ended_date() }}
				</td>
				<td>
					{{ submission.natural_extended_date() }}
				</td>

				{# Status #}
				{% if progress_report %}
				<td class="green">
					{{ "Submitted Late" if submission.ended_date < progress_report.updated_date else "Submitted" }}
				</td>
				{% else %}
					{% if submission.get_status() == "opened" %}
				<td class="blue">
						Opened
				</td>
				{% elif submission.get_status() == "lated" %}
				<td class="yellow">
						Lated
				</td>
				{% elif submission.get_status() == "closed" %}
				<td class="red">
					Not Submitted
				</td>
				{% elif submission.get_status() == "upcoming" %}
				<td>
					Upcoming
				</td>
				{% endif %}
				{% endif %}


				{% set time_delta, time_remain = submission.get_remain_time() %}
				<td class="
				{{ 'orange' if time_delta == 1 and not progress_report }} 
				{{ 'red' if time_delta == 0 and not progress_report }} 
				{{ 'grey' if time_remain == 'Out of time'}}
				">
					{{ time_remain }}
				</td>

				<td>
					{% if progress_report %}
					<a href="{{ url_for('submissions.download', progress_report_id=progress_report.id, filename=progress_report.file.filename) }}"
						target="_blank">
						{{ progress_report.file.filename }}
					</a>
					{% else %}
					-
					{% endif %}
				</td>

				<td>
					{% if (submission.get_status() == "opened" or submission.get_status() == "lated") and submission.get_type_display()=="Report" %}
					<a class="ui small fluid icon {{ 'primary' if current_user.get_permission_to_upload(submission) else 'disabled' }} button" href="{{ url_for('submissions.upload', submission_id=submission.id)}}">
						<i class="upload icon"></i>
					  	Upload
					</a>

					{% elif (submission.get_status() == "opened" or submission.get_status() == "lated") and submissions[loop.index-2].get_progress_report_by_owner(user) and submission.get_type_display()=="Presentation" %}
					
					<a class="ui small fluid icon {{ 'primary' if current_user.get_permission_to_upload(submission) else 'disabled' }} button" href="{{ url_for('submissions.upload', submission_id=submission.id)}}">
						<i class="upload icon"></i>
						Upload
					</a>

					{% else %}
					<a class="ui small fluid icon {{'disabled'}} button">
						<i class="upload icon"></i>
						  Upload
					</a>
					
				
					
					{% endif %}
			

				</td>
			</tr>
			{% endfor %}
		</body>
	</table>
	{% else %}
	<div class="ui info message">No submission at this time.</div>
{% endif %}


{% if final_submission %}
<div class="ui segment">
  <h2 class="ui header">Completed Final Report</h2>
  {% if project %}
    <div class="ui divider"></div>
    <div class="ui horizontal stackable segments">
      <div class="ui segment">
        {{ project.name }}
      </div>
      <div class="ui segment">
        {{ project_material_renderer.render_project_material(project) }}
      </div>
    </div>
  {% endif %}
	<div class="ui divider"></div>
	<a class="ui primary labeled icon button"
		href="{{ url_for('final_reports.upload', final_submission_id=final_submission.id) }}">
		<i class="upload icon"></i>
		Upload Final Report
	</a>
</div>
{% endif %}
	
</div>

{% endblock %}
