{% extends '/classes/index.html' %}

{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}
{% import '/dashboard/project-renderer.html' as renderer_project %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<h2 class="ui header">Class</h2>
<div class="ui divider"></div>

<table class="ui single line table">
  <tbody>
    <tr>
      <td>
        <div style="color: grey">NAME </div>{{ class_.name }}
      </td>
      <td>
        <div style="color: grey">DESCRIPTION</div> {{ class_.description }}
      </td>
    </tr>
    <tr>
      <td>
        <div style="color: grey">OWNER </div>{{ class_.owner.first_name }} {{ class_.owner.last_name }}
      </td>
      <td>
        <div style="color: grey">CODE </div>{{ class_.code }}
      </td>
    </tr>
    <tr>
      <td>
        <div style="color: grey">TYPE</div> {{ class_.get_type_display() }}
      </td>
      <td>
        <div style="color: grey">TAG</div> {{ class_.tags | join(', ') }}
      </td>
    </tr>
    <tr>
      <td>
        <div style="color: grey">STARTED DATE</div> {{ class_.started_date }}
      </td>
      <td>
        <div style="color: grey">ENDED DATE</div> {{ class_.ended_date }}
      </td>
    </tr>
  </tbody>
</table>


<div class="ui segment">
    <h2 class="ui header">Submissions</h2>
    <div class="ui divider"></div>
    <h3 class="ui header">Meeting</h3>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Midterm</th>
          <th>Final</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for student in current_advisees %}
          <tr>
            <td>
              {{ student.username }}
            </td>
            <td>
              {{ student.first_name }} {{ student.last_name }}
            </td>
            <td>
              <div class="ui green label">
                <i class="check icon"></i> {{ student.get_meeting_reports(class_, 'midterm', 'approved').count() }}
              </div>

              <div class="ui primary label">
                <i class="clipboard icon"></i> {{ student.get_meeting_reports(class_, 'midterm').count() }}
              </div>
            </td>
            <td>
              <div class="ui green label">
                <i class="check icon"></i> {{ student.get_meeting_reports(class_, 'final', 'approved').count() }}
              </div>

              <div class="ui primary label">
                <i class="clipboard icon"></i> {{ student.get_meeting_reports(class_, 'final').count() }}
              </div>

            </td>
            <td>
              <a href="{{ url_for('classes.list_report_by_user', class_id=class_.id, user_id=student.id) }}" class="ui primary circular icon button">
                <i class="eye icon"></i>
              </a>
            </td>
        {% endfor %}
      </tbody>
    </table>



    <div class="ui divider"></div>

    <h3 class="ui header">Report / Presentation</h3>
    {{ renderer_project.render_project_section([], current_user, advisee_projects, committee_projects) }}
</div>

{% if projects %}
<div class="ui segment">
  <h2 class="ui header">Final Report</h2>
  {{ renderer_project.render_project_table(projects, current_user) }}
</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script src=" {{ url_for('static', filename='node_modules/fomantic-ui-css/components/calendar.js') }}"></script>
<script type="text/javascript">
    $('.icon.link.pop')
      .popup({
        delay: {
          show: 50,
          hide: 70
        }
      });

</script>
{% endblock additional_js %}
