{% macro render_class_navbar(class_, current_user) %}
<div class="bg-base-100 rounded-box shadow mb-4">
  <ul class="menu menu-horizontal flex-wrap gap-1 p-2">
    {% if "admin" in request.endpoint and current_user.has_roles('admin') %}
    <li>
      <a class="{{'menu-active' if 'home' in request.path}}" href="{{ url_for('admin.classes.view', class_id=class_.id) }}">
        <i class="fa-solid fa-chalkboard"></i> Class
      </a>
    </li>
    <li>
      <a href="{{ url_for('admin.classes.approve_meeting_report', class_id=class_.id, admin_view='true') }}">
        <i class="fa-solid fa-clipboard"></i> Meeting Approval
      </a>
    </li>
    {% else %}
    <li>
      <a class="{{'menu-active' if 'home' in request.path}}" href="{{ url_for('classes.view', class_id=class_.id) }}">
        <i class="fa-solid fa-chalkboard"></i> Class
      </a>
    </li>
    <li>
      <a href="{{ url_for('classes.approve_meeting_report', class_id=class_.id) }}">
        <i class="fa-solid fa-clipboard"></i> Meeting Report Approval
      </a>
    </li>
    {% endif %}

    <li>
      <details class="dropdown">
        <summary><i class="fa-solid fa-font"></i> Grading</summary>
        <ul class="menu dropdown-content bg-base-100 text-base-content rounded-box z-10 w-44 p-2 shadow">
          {% if 'admin' in request.path %}
          <li><a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type='midterm') }}">Midterm</a></li>
          <li><a href="{{ url_for('admin.round_grades.view', class_id=class_.id, round_grade_type='final') }}">Final</a></li>
          {% else %}
          <li><a href="{{ url_for('round_grades.view', class_id=class_.id, round_grade_type='midterm') }}">Midterm</a></li>
          <li><a href="{{ url_for('round_grades.view', class_id=class_.id, round_grade_type='final') }}">Final</a></li>
          {% endif %}
        </ul>
      </details>
    </li>

    {% if current_user.has_roles('admin', 'lecturer') %}
      {% if 'admin' in current_user.roles and 'admin' in request.path %}
    <li>
      <a class="{{'menu-active' if 'student_ids' in request.path}}"
        href="{{ url_for('admin.classes.view_students', class_id=class_.id) }}">
        <i class="fa-solid fa-graduation-cap"></i> View Students
      </a>
    </li>
    <li>
      <a class="{{ 'menu-active' if 'classes.view_projects' == request.endpoint }}"
        href="{{ url_for('admin.classes.view_projects', class_id=class_.id) }}">
        <i class="fa-solid fa-computer"></i> View Projects
      </a>
    </li>
    <li>
      <a class="{{'menu-active' if 'groups' in request.path}}"
        href="{{ url_for('admin.groups.view', class_id=class_.id) }}">
        <i class="fa-solid fa-users"></i> Manage Group
      </a>
    </li>
    {% endif %}
    {% endif %}

    <li>
      <details class="dropdown">
        <summary><i class="fa-solid fa-check"></i> Aprove Report</summary>
        <ul class="menu dropdown-content bg-base-100 text-base-content rounded-box z-10 w-44 p-2 shadow">
          {% if 'admin' in request.path %}
          <li><a href="{{ url_for('admin.round_grades.approve_report', class_id=class_.id, round_grade_type='midterm') }}">Midterm</a></li>
          <li><a href="{{ url_for('admin.round_grades.approve_report', class_id=class_.id, round_grade_type='final') }}">Final</a></li>
          {% else %}
          <li><a href="{{ url_for('round_grades.approve_report', class_id=class_.id, round_grade_type='midterm') }}">Midterm</a></li>
          <li><a href="{{ url_for('round_grades.approve_report', class_id=class_.id, round_grade_type='final') }}">Final</a></li>
          {% endif %}
        </ul>
      </details>
    </li>

    {% if current_user.has_roles("admin") and 'admin' in request.path %}
    <li>
      <a class="{{'menu-active' if 'edit' in request.path and 'classes' in request.path}}"
        href="{{ url_for('admin.classes.edit', class_id=class_.id) }}">
        <i class="fa-solid fa-pen-to-square"></i> Edit Class
      </a>
    </li>
    <li>
      <a onclick="showDelete()">
        <i class="fa-solid fa-trash"></i> Delete Class
      </a>
    </li>
    {% endif %}

  </ul>
</div>

<dialog id="delete-class-modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Delete Class</h3>
    <p class="py-4">Are you sure you want to delete <span class="text-info font-semibold">{{ class_.name }}</span> class?</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">No</button>
      </form>
      <a class="btn btn-error" href="{{ url_for('admin.classes.delete', class_id=class_.id) }}">
        <i class="fa-solid fa-trash"></i> Delete
      </a>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  function showDelete() {
    document.getElementById('delete-class-modal').showModal();
  }
</script>

{% endmacro %}
