{% extends '/admin/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/admin/classes/project-renderer.html' as renderer %}
{% import '/navbar/class-navbar.html' as renderer_navbar %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('admin.classes.index') }}" class="section">Classes</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('admin.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
    <div class="divider"> / </div>
    <a href="{{ url_for('classes.view_students', class_id=class_.id) }}">View Students</a>
</div>
{% endblock %}


{% block content %}

{{ renderer_navbar.render_class_navbar(class_, current_user) }}

<h2 class="ui header">
    View Students
</h2>
<div class="ui divider"></div>

<table class="ui celled table">
    <thead>
        <th>No. </th>
        <th>Project</th>
        <th>Student Name</th>
        <th>Student ID</th>
        <th>Group</th>
    </thead>
    <tbody>
        {% for student in students %}
        {% set project = student.get_project() %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ project.name }}
            </td>
            <td>
                {{ student.get_fullname() }}
            </td>
            <td>
                {{ student.username }}
            </td>
            <td>
                {{ student.get_group(class_).name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}