{% extends '/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
	<div class="divider"> / </div>
	<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}

{% block content %}
<h1>{{ class_.name }}</h1>

<table class="ui definition table">
	<tbody>
		<tr>
			<td class="two wide column">Description</td>
			<td>{{ class_.description }}</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>{{ class_.code }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Started Date</td>
			<td>{{ class_.started_date }}</td>
		</tr>
		<tr>
			<td>Ended Date</td>
			<td>{{ class_.ended_date }}</td>
		</tr>
		<tr>
			<td>Tag</td>
			<td>{{ class_.tags | join(', ') }}</td>
		</tr>
	</tbody>
</table>

<div class="ui divider"></div>

<h2 class="ui header">Submissions</h2>
{% if submissions | count > 0 %}
<table class="ui selectable celled table unstackable">
	<thead>
		<tr>
			<th>Type</th>
			<th>Remark</th>
			<th>Status</th>
			<th>Submit</th>
			<th>Started Date</th>
			<th>Ended Date</th>
		</tr>
	</thead>

	<body>
		{% for submission in submissions %}
		<tr>
			<td>
				{{ submission.get_type_display() }}
			</td>
			<td>
				{{ submission.remark}}
			</td>
			<td>
				<a href="{{ url_for('submissions.upload', submission_id=submission.id, class_id=class_.id)}}">
					Open
				</a>
			</td>
			<td>
				Yes
			</td>
			<td>
				{{ submission.started_date }}
			</td>
			<td>
				{{ submission.ended_date }}
			</td>
			</div </tr>
			{% endfor %}
	</body>
</table>
{% else %}
<div class="ui info message">No submission at this time.</div>
{% endif %}

<div class="ui divider"></div>

{% endblock %}