{% extends '/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
	<div class="divider"> / </div>
	<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}

{% block content %}
<h1>{{ class_.name }}</h1>

<table class="ui definition table">
	<tbody>
		<tr>
			<td class="two wide column">Description</td>
			<td>{{ class_.description }}</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>{{ class_.code }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Started Date</td>
			<td>{{ class_.started_date }}</td>
		</tr>
		<tr>
			<td>Ended Date</td>
			<td>{{ class_.ended_date }}</td>
		</tr>
		<tr>
			<td>Tag</td>
			<td>{{ class_.tags | join(', ') }}</td>
		</tr>
	</tbody>
</table>

<div class="ui segment">
	<h2 class="ui header">Grade</h2>
	<div class="ui divider"></div>
	<a class="ui green labeled icon button" href="{{ url_for('grades.view_student_grades', class_id=class_.id) }}">
		<i class="star icon"></i>
		View Grades
	</a>
</div>

<div class="ui segment">

	<h2 class="ui header">Submissions</h2>
	<div class="ui divider"></div>

	<h3 class="ui header">Meetings</h3>
	{% if meetings | count > 0 %}
	<table class="ui celled table unstackable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Time Remaining</th>
				<th>Action</th>
				<th>Started Date</th>
				<th>Ended Date</th>
			</tr>
		</thead>

		<body>
			{% for meeting in meetings %}
			{% set meeting_report = meeting.get_meeting_report_by_owner(user) %}
			<tr>
				<td>
					{{ meeting.name }}
				</td>

				{# Status #}
				{% if meeting_report %}
				<td class="green">
					Submitted
				</td>
				{% else %}

				{% if meeting.get_status() == "opened" %}
				<td class="blue">
					<a href="{{ url_for('meetings.report', meeting_id=meeting.id)}}">
						Opened
					</a>
				</td>
				{% else %}
				<td class="red">
					Not Submitted
				</td>
				{% endif %}

				{% endif %}

				{% if meeting.get_status() == "upcoming" %}
				<td>
					Upcoming
				</td>
				{% endif %}




				{% set time_delta, time_remain = meeting.get_remain_time() %}
				<td class="
				{{ 'orange' if not meeting_report and time_delta == 1 }} 
				{{ 'red' if not meeting_report and time_delta == 0 }} 
				{{ 'grey' if time_remain == 'Out of time'}}
				">
					{{ time_remain }}
				</td>

				<td>
					{% if meeting.get_status() == "opened" or meeting.get_status() == "lated" %}
					{% if meeting_report %}
					<a class="ui fluid icon primary button"
						href="{{ url_for('meetings.edit_report', meeting_report_id=meeting_report.id)}}">
						<i class="edit icon"></i>
						Edit
					</a>
					{% else %}
					<a class="ui fluid icon primary button"
						href="{{ url_for('meetings.report', meeting_id=meeting.id)}}">
						<i class="file alternate outline icon"></i>
						Report
					</a>
					{% endif %}
					{% endif %}
				</td>

				<td>
					{{ meeting.natural_started_date() }}
				</td>

				<td>
					{{ meeting.natural_ended_date() }}
				</td>
			</tr>
			{% endfor %}
		</body>
	</table>
	{% else %}
	<div class="ui info message">No meetings at this time.</div>
	{% endif %}

	<div class="ui divider"></div>
	<h3 class="ui header">Report / Presentation</h3>
	{% if submissions | count > 0 %}
	<table class="ui celled single line table unstackable">
		<thead>
			<tr>
				<th>Type</th>
				<th>Description</th>
				<th>Status</th>
				<th>Time Remaining</th>
				<th>File</th>
				<th>Action</th>
				<th>Started Date</th>
				<th>Ended Date</th>
				<th>Extended Date</th>
			</tr>
		</thead>

		<body>
			{% for submission in submissions %}
			{% set progress_report = submission.get_progress_report_by_owner(user) %}
			<tr>
				<td>
					{{ submission.get_type_display() }}
				</td>
				<td class="three wide">
					<div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 18em;">
						{{ submission.description }}
					</div>
				</td>

				{# Status #}
				{% if progress_report %}
				<td class="green">
					Submitted
				</td>
				{% else %}
				{% if submission.get_status() == "opened" %}
				<td class="blue">
					<a href="{{ url_for('submissions.upload', submission_id=submission.id)}}">
						Opened
					</a>
				</td>
				{% elif submission.get_status() == "lated" %}
				<td class="yellow">
					<a href="{{ url_for('submissions.upload', submission_id=submission.id)}}" style="color: orange">
						Lated
					</a>
				</td>
				{% elif submission.get_status() == "closed" %}
				<td class="red">
					Not Submitted
				</td>
				{% elif submission.get_status() == "upcoming" %}
				<td>
					Upcoming
				</td>
				{% endif %}
				{% endif %}


				{% set time_delta, time_remain = submission.get_remain_time() %}
				<td class="
				{{ 'orange' if time_delta == 1 and not progress_report }} 
				{{ 'red' if time_delta == 0 and not progress_report }} 
				{{ 'grey' if time_remain == 'Out of time'}}
				">
					{{ time_remain }}
				</td>

				<td>
					{% if progress_report %}
					<div style="display: flex">
						<a style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 15em"
							href="{{ url_for('submissions.download', progress_report_id=progress_report.id, filename=progress_report.file.filename) }}"
							target="_blank">
							{{progress_report.file.filename}}
						</a>
					</div>
					{% else %}
					-
					{% endif %}
				</td>

				<td>
					{% if submission.get_status() == "opened" or submission.get_status() == "lated" %}
					{% if progress_report %}
					<a class="ui fluid icon primary button"
						href="{{ url_for('submissions.edit_progress_report', progress_report_id=progress_report.id)}}">
						<i class="edit icon"></i>
						Edit
					</a>
					{% else %}
					<a class="ui fluid icon primary button"
						href="{{ url_for('submissions.upload', submission_id=submission.id)}}">
						<i class="upload icon"></i>
						Upload
					</a>
					{% endif %}
					{% endif %}
				</td>

				<td>
					{{ submission.natural_started_date() }}
				</td>
				<td>
					{{ submission.natural_ended_date() }}
				</td>
				<td>
					{{ submission.natural_extended_date() }}
				</td>
			</tr>
			{% endfor %}
		</body>
	</table>
	{% else %}
	<div class="ui info message">No submission at this time.</div>
	{% endif %}
</div>

<div class="ui divider"></div>
{% endblock %}