{% extends '/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
	<div class="divider"> / </div>
	<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
</div>
{% endblock %}

{% block content %}
<h1>{{ class_.name }}</h1>

<table class="ui definition table">
	<tbody>
		<tr>
			<td class="two wide column">Description</td>
			<td>{{ class_.description }}</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>{{ class_.code }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Started Date</td>
			<td>{{ class_.started_date }}</td>
		</tr>
		<tr>
			<td>Ended Date</td>
			<td>{{ class_.ended_date }}</td>
		</tr>
		<tr>
			<td>Tag</td>
			<td>{{ class_.tags | join(', ') }}</td>
		</tr>
	</tbody>
</table>

<div class="ui divider"></div>

<h2 class="ui header">Submissions</h2>
{% if submissions | count > 0 %}
<table class="ui selectable celled table unstackable">
	<thead>
		<tr>
			<th>Type</th>
			<th>Remark</th>
			<th>Status</th>
			<th>Time Remaining</th>
			<th>File</th>
			<th>Started Date</th>
			<th>Ended Date</th>
		</tr>
	</thead>

	<body>
		{% for submission in submissions %}
			{% set student_work = submission.get_student_work_by_owner(user) %}
			<tr>
				<td>
					{{ submission.get_type_display() }}
				</td>
				<td class="three wide">
					<div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 18em;">
						{{ submission.remark}}
					</div>
				</td>
				<td>
					{% if submission.is_in_time() and submission.is_in_time() != "Upcoming" %}
						{% if student_work %}
							Sent /
							<a
								href="{{ url_for('submissions.edit_student_work', submission_id=submission.id, class_id=class_.id, student_work_id=student_work.id)}}">
								Edit
							</a>
						{% else %}
							Opened /
							<a href="{{ url_for('submissions.upload', submission_id=submission.id, class_id=class_.id)}}">
								Upload
							</a>
						{% endif %}

					{% else %}
						{% if submission.is_in_time() == "Upcoming" %}
							Upcoming
						{% else %}
							Closed
						{% endif %}

					{% endif %}
				</td>
				<td>
					{{submission.remain_time()}}
				</td>
				<td>
					{% if student_work %}
						<div style="display:flex">
							<a style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 15em;"
								href="{{ url_for('submissions.download', student_work_id=student_work.id, filename=student_work.file.filename) }}">
								{{student_work.file.filename}}
							</a>
						</div>
					{% else %}
						-
					{% endif %}
				</td>
				<td>
					{{ submission.natural_started_date() }}
				</td>
				<td>
					{{ submission.natural_ended_date() }}
				</td>
			</tr>
		{% endfor %}
	</body>
</table>
{% else %}
	<div class="ui info message">No submission at this time.</div>
{% endif %}

<div class="ui divider"></div>

{% endblock %}